#p_p_id_1_WAR_contactsportlet_.contacts-portlet #_1_WAR_contactsportlet_fm, #p_p_id_1_WAR_contactsportlet_.contacts-portlet .contacts-result-container-content .contacts-list .contacts-search  {
	background-color:#d0dae3;
}

#p_p_id_1_WAR_contactsportlet_.contacts-portlet .contacts-result .last-name-anchor a {
  	background: #D0DAE3; 
}

.contacts-center-home-content h3.header-title {
		font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight: 300;
	
	color: #014260;
}