/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
@import url(workspacegrid.css);

@import url(calendar.css);

@import url(activities.css);

@import url(wiki.css);

@import url(documents.css);

@import url(microblog.css);

/* Seitenüberschriften und Titel*/
#heading h1.site-title span.site-name {
	font-style: italic;
	font-weight: normal;
	font-size: .5em;
	border-bottom: 4px solid #014260;
}

#heading h1.site-title .default-logo {
	display: none;
}

.aui #heading h1.site-title a::first-letter {
	font-size: 200%;
}

.aui .aui h2.page-title {
	display: none;
}

/* Breadcrumbs*/
.aui #breadcrumbs li.first {
	text-indent: 20px;
}

.aui #breadcrumbs li.first:before {
	display: block;
	position: absolute;
	content: ".";
	/* background-color: #F00; */
	width: 40px;
	height: 40px;
	background-image: url(../images/up_icons.png);
	background-repeat: no-repeat;
	background-position: -66px -191px;
	text-indent: -100px;
}

.aui #breadcrumbs .breadcrumb>li a {
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-size: 1.1 em;
	color: #8a8a8a;
}

.aui #breadcrumbs .breadcrumb .active a {
	color: #014260;
	font-weight: bold;
}

/* Navbar */
.aui .navbar-inner {
	background-color: #ededed;
	background-image: none;
	border: 0px;
	border-radius: 0;
}

.aui .navbar .nav>li>a {
	text-shadow: 0 0px 0 #F9F9F9;
}

.aui .navbar .nav>.active>a,.aui .navbar .nav>.active>a:hover,.aui .navbar .nav>.active>a:focus
	{
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
	background-color: #D0DAE3
}

/*Tabs */
.aui portlet-body .nav-tabs>.active>a,.aui portlet-body .nav-tabs>.active>a:hover,.aui portlet-body .nav-tabs>.active>a:focus
	{
	border-radius: 0;
}

.aui .nav-tabs>li>a {
	border-radius: 0;
}

/*buttons*/
.aui .btn-primary {
	background-color: #014260 !important;
	background-image: none;
	border: none;
}

.aui .btn {
	background-color: #d0dae3;
	background-image: none;
	border: none;
}

.aui .btn-group>.btn:last-child,.aui .btn-group>.dropdown-toggle {
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
}

.aui .btn-group>.btn:first-child {
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
}

/* Suchfelder */
.aui .form-search .input-append .search-query {
	webkit-border-radius: 0px 0 0 0px;
	-moz-border-radius: 0px 0 0 0px;
	border-radius: 0px 0 0 0px;
}

.aui .form-search .input-append .btn {
	webkit-border-radius: 0 0px 0px 0;
	-moz-border-radius: 0 0px 0px 0;
	border-radius: 0 0px 0px 0;
	border: 1px solid #D0DAE3;
}

/* Alterts */
.aui .alert-info,.aui .portlet-msg-help,.aui .portlet-msg-info,.aui .portlet-msg-progress
	{
	background-color: #fff091;
	border: 0px;
}