section#portlet_workspacesoverview_WAR_workspacegrid10 .portlet-content,.portlet-minimized .portlet-content-container
	{
	padding: 0 0 0 0;
}

section#portlet_workspacesoverview_WAR_workspacegrid10 .liferay .v-vertical.v-margin-left,section#portlet_workspacesoverview_WAR_workspacegrid10 .liferay .v-vertical.v-margin-bottom,section#portlet_workspacesoverview_WAR_workspacegrid10 .liferay .v-vertical.v-margin-right,section#portlet_workspacesoverview_WAR_workspacegrid10 .liferay .v-vertical.v-margin-top
	{
	padding: 0 0 0 0;
}

/* Viereck fuer WS*/
section#portlet_workspacesoverview_WAR_workspacegrid10 .liferay .v-gridlayout-slot {
	position:relative;
}

section#portlet_workspacesoverview_WAR_workspacegrid10 .liferay .v-horizontal > .v-slot, section#portlet_workspacesoverview_WAR_workspacegrid10 .liferay .v-horizontal > .v-expand > .v-slot {
height: auto;
}

section#portlet_workspacesoverview_WAR_workspacegrid10 .liferay .v-label-undef-w {
	white-space:normal;	
}

section#portlet_workspacesoverview_WAR_workspacegrid10 .liferay div.v-layout.v-horizontal.v-widget {
	width:150px;
	height:80px;
	background-color:#d0dae3;
	text-align: center;
}

section#portlet_workspacesoverview_WAR_workspacegrid10 .liferay div.v-layout.v-horizontal.v-widget:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

section#portlet_workspacesoverview_WAR_workspacegrid10 .liferay .v-slot, .liferay .v-spacing {
	display: inline-block;
 	 vertical-align: middle;
  	width: 100px;
  	font-size: 12px;
}

section#portlet_workspacesoverview_WAR_workspacegrid10 .liferay .v-slot div.v-label {
	font-size: 1em;
text-align: center;
max-height: 70px;
}

/* Notifications */
section#portlet_workspacesoverview_WAR_workspacegrid10 .liferay .v-horizontal>.v-slot+.v-slot
	{
	position: absolute;
	background-color: #014260;
	width: 20px;
	height: 20px;
	color: #FFF;
	border-radius: 50%;
	top: 5px;

}



section#portlet_workspacesoverview_WAR_workspacegrid10 .liferay .v-horizontal>.v-slot+.v-slot div.v-label
	{
	text-align: center;
	line-height: 18px;
		font-size:1em;
}