[submodule "apps/content-targeting"]
	path = apps/content-targeting
	url = git@github.com:liferay/liferay-apps-content-targeting.git
[submodule "hooks/base-hook"]
	path = hooks/base-hook
	url = https://gitup.uni-potsdam.de/elis/base-hook.git
[submodule "themes/so-up-theme"]
	path = themes/so-up-theme
	url = https://gitup.uni-potsdam.de/elis/so-up-theme.git
[submodule "portlets/etherpad-lite-portlet"]
	path = portlets/etherpad-lite-portlet
	url = https://gitup.uni-potsdam.de/elis/liferay-etherpad-lite.git
