<p>
	[$MEMBER_REQUEST_USER$] hat Sie zu dem Workspace [$MEMBER_REQUEST_GROUP$] auf Campus.UP eingeladen. Klicken Sie auf den Link, um der Einladung zu folgen: <a href="[$MEMBER_REQUEST_LOGIN_URL$]">Einladung annehmen</a>
</p>

<p>
	Wenn Sie Fragen zur Campus.UP-Umgebung der Universität Potsdam haben, wenden Sie sich bitte an den Administrator (<a href="mailto:[$ADMIN_ADDRESS$]">[$ADMIN_ADDRESS$]</a>).
</p>
-<br/>
Wenn Sie diese Benachrichtigung nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um zu den Einstellungen zu gelangen.  