<p>
	[$MEMBER_REQUEST_USER$] hat Sie zum Beitritt in den Workspace [$MEMBER_REQUEST_GROUP$] auf Campus.UP eingeladen. Klicken Sie auf folgenden Link, um auf die Einladung zu reagieren: <a href="[$MEMBER_REQUEST_LOGIN_URL$]">Einladung annehmen</a>
</p>
-<br/>
Wenn Sie Benachrichtigungen wie diese nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um Ihre Benachrichtigungseinstellungen zu &auml;ndern.  