<p>
	[$MEMBER_REQUEST_USER$] has invited you to join the workspace [$MEMBER_REQUEST_GROUP$] on Campus.UP. Follow the link to confirm this invitation: <a href="[$MEMBER_REQUEST_LOGIN_URL$]">View Invitation</>
</p>

<p>
	For questions regarding the University of Potsdam's Campus.UP environment please contact the administrator (<a href="mailto:[$ADMIN_ADDRESS$]">[$ADMIN_ADDRESS$]</a>).
</p>