Liebe/r [$TO_NAME$],<br /><br />

[$MEMBER_REQUEST_USER$] hat Ihre Einladung [$MEMBER_REQUEST_GROUP$] beizutreten angenommen.<br/>
<br />

-<br />
Wenn Sie diese Benachrichtigung nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um zu den Einstellungen zu gelangen.  