Dear [$TO_NAME$],<br /><br />

[$MEMBER_REQUEST_USER$] confirmed your invitation to join workspace [$MEMBER_REQUEST_GROUP$].<br/>
<br />

<hr style="width: 43%;float: left;">
<br/>
<div style="font-size: small">	
If you don't want to receive notifications like this, click <a href="[$CONFIG_URL$]">here</a> to change your settings.	
</div>