Liebe/r [$TO_NAME$],<br /><br />

Ein [$CONTENT_TYPE$] mit dem Titel "[$CONTENT_TITLE$]" des Nutzers <a href="[$REPORTED_USER_URL$]">[$REPORTED_USER_NAME$]</a> ([$REPORTED_USER_ADDRESS$]) wurde von [$REPORTER_USER_NAME$] ([$REPORTER_USER_ADDRESS$]) als unangemessen gemeldet.<br /> 
Als Grund für die Meldung wurde "[$REASON$]" angegeben. Der Beitrag wurde am [$DATE$] gemeldet.<br /><br />

Klicken Sie <a href="[$CONTENT_URL$]">hier</a>, um den Beitrag zu öffnen.<br /><br />
