Liebe/r [$TO_NAME$],<br /><br />

Ihre Anfrage dem Workspace [$MEMBER_REQUEST_GROUP$] beizutreten wurde [$STATUS$].<br/>
Dazu wurde der folgende Kommentar abgegeben:<br/>
[$COMMENT$]<br/><br/>

-<br />
Wenn Sie diese Benachrichtigung nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um zu den Einstellungen zu gelangen. 