Liebe/r [$TO_NAME$],<br /><br />

Sie wurden als Mitglied zum Workspace [$MEMBER_REQUEST_GROUP$] hinzugef&uuml;gt.
<hr>
<br/>
Workspace <a href="[$WORKSPACE_URL$]">hier</a> auf Campus.UP ansehen.<br /><br />

<hr style="width: 43%;float: left;">
<br/>
<div style="font-size: small">	
Wenn Sie Benachrichtigungen wie diese nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um Ihre Benachrichtigungseinstellungen zu &auml;ndern.    	
</div> 