Dear [$TO_NAME$],<br /><br />

You were added as a member to the workspace [$MEMBER_REQUEST_GROUP$].
<hr>
<br/>
View workspace <a href="[$WORKSPACE_URL$]">here</a> on Campus.UP.<br /><br />

<hr style="width: 43%;float: left;">
<br/>
<div style="font-size: small">	
If you don't want to receive notifications like this, click <a href="[$CONFIG_URL$]">here</a> to change your settings.	
</div>