Liebe/r [$TO_NAME$],<br /><br />

[$MEMBER_REQUEST_USER$] m&ouml;chte Ihrem Workspace [$MEMBER_REQUEST_GROUP$] beitreten.
<hr>
<br/>
Klicken Sie <a href="[$MEMBERSHIP_URL$]">hier</a>, um die Anfrage zu beantworten.<br /><br />

<hr style="width: 43%;float: left;">
<br/>
<div style="font-size: small">	
Wenn Sie Benachrichtigungen wie diese nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um Ihre Benachrichtigungseinstellungen zu &auml;ndern.    	
</div>	  