Liebe/r [$TO_NAME$],<br /><br />

[$MEMBER_REQUEST_USER$] m&ouml;chte dem Workspace [$MEMBER_REQUEST_GROUP$] beitreten.<br/>
Klicken Sie <a href="[$MEMBERSHIP_URL$]">hier</a>, um die Anfrage zu beantworten.<br /><br />

-<br />
Wenn Sie diese Benachrichtigung nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um zu den Einstellungen zu gelangen.  