Dear [$TO_NAME$],<br /><br />

You were added as a member to the workspace [$MEMBER_REQUEST_GROUP$].<br/>
View workspace <a href="[$WORKSPACE_URL$]">here</a> on Campus.UP.<br /><br />

-<br />
If you don't want to receive notifications like this, click <a href="[$CONFIG_URL$]">here</a> to change your settings.