Dear [$TO_NAME$],<br/><br/>

Your request to join the workspace [$MEMBER_REQUEST_GROUP$] has been [$STATUS$].<br/>
Therefore the following comment was made:
<hr>
<p>
[$COMMENT$]
</p>
<hr>
<br/><br/>

<hr style="width: 43%;float: left;">
<br/>
<div style="font-size: small">	
If you don't want to receive notifications like this, click <a href="[$CONFIG_URL$]">here</a> to change your settings.	
</div>	