Dear [$TO_NAME$],<br /><br />

[$MEMBER_REQUEST_USER$] would like to join your workspace [$MEMBER_REQUEST_GROUP$].<br/>
Click <a href="[$MEMBERSHIP_URL$]">here</a>, to reply to this request.<br /><br />

-<br />
If you don't want to receive notifications like this, click <a href="[$CONFIG_URL$]">here</a> to change your settings.