Dear [$TO_NAME$],<br/><br/>

Your request to join the workspace [$MEMBER_REQUEST_GROUP$] was [$STATUS$].<br/>
Therefore the following comment was made:<br/>
[$COMMENT$]<br/><br/>

-<br />
If you don't want to receive this notification, click <a href="[$CONFIG_URL$]">here</a>, to change your settings.