Liebe/r [$TO_NAME$],<br /><br />

Der Workspace [$MEMBER_REQUEST_GROUP$] wurde [$USER_NAME$] gel&ouml;scht.<br/>
<br />

-<br />
Wenn Sie Benachrichtigungen wie diese nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um Ihre Benachrichtigungseinstellungen zu &auml;ndern.  