.workspaceBox {
	border: 1px solid;
	margin:0;
	padding: 0;;
}

.workspaceBox a {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 20px;
	display: inline-block;
}

.template1 {
	background-color: #334562;
}

.template2 {
	background-color: red;	
}

.template3{
	background-color: green;
}