.aui .dockbar-split .dockbar .navbar-inner #_145_navAddControlsNavbarCollapse .nav>li {
    background-color: #d0dae3;
}

.lfr-admin-panel h1 {
	color:#d0dae3;	
}
/*
.aui .lfr-admin-panel.lfr-edit-layout-panel{
	z-index:7100 !important;
}*/

.aui .lfr-admin-panel .navbar .nav>li {
	  margin-right: 3px;
}

.aui .lfr-admin-panel .navbar .nav>li>a {
  background-color: #fff;
  color: #014260;
  border:1px solid #ededed;
}

.aui .lfr-admin-panel .accordion-group {
	border: none;
	-webkit-border-radius: 0px;
 	 -moz-border-radius: 0px;
 	 border-radius: 0px;
  	background-color: #d0dae3;
	
}

.lfr-edit-layout-panel .taglib-form-navigator .accordion .accordion-group.lfr-panel-extended .accordion-inner {
	  background-color: #fff;
  border: 1px solid #d0dae3;	
}

.aui .dockbar-split .dockbar .navbar-inner .nav>li {
	background-color:#fff;
}

.aui .dockbar-split .dockbar .navbar-inner .nav-add-controls>li>a {
	background: #fff;
  color: #014260;
  border-radius:0;
  -o-border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
}

.aui .dockbar-split .dockbar .navbar-inner .nav-add-controls#_145_navAddControls>li>a:hover {
  background: #014260 !important;
}

.lfr-add-panel .add-content-menu .accordion .accordion-group .accordion-inner {

    background-color: #fff;
}

.lfr-add-panel .add-content-menu .accordion .accordion-group .accordion-inner {
    padding: 6px 0;
    background-color: #fff;
}

.aui .dockbar-split .dockbar .row-fluid {
	margin-top:70px;
}

.aui .dockbar-split .dockbar .alert-info {
	    background-color: #fff091;
    border: 0;
    position: absolute;
    top: 110px;
}

div#_145_navAddControlsNavbarCollapse #_145_navAddControls li {
    background-color: #fff;
    height:50px;
}



.aui .dockbar-split .dockbar .navbar-inner .nav-add-controls>li.toggle-controls a {
    position:relative;
   
}

.aui .dockbar-split .dockbar .navbar-inner .nav-add-controls>li>a.toggle-controls-link {
    background: #fff;
}

.aui .dockbar-split.controls-hidden .dockbar .navbar-inner .nav-add-controls>li.toggle-controls>.toggle-controls-link {
    background: #d0dae3;
}

 .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls>li>a.toggle-controls-link [class*=" icon-"] {
    color: #014260;
}

.aui .dockbar-split .dockbar .navbar-inner .nav-add-controls#_145_navAddControls>li>a:hover [class*=" icon-"] {
	color:#fff;
}

.aui .dockbar-split .dockbar .navbar-inner .nav-add-controls>li>a.toggle-controls-link  {
    background: #d0dae3;
}




#_145_navAddControlsNavbarCollapse i:hover {
    background-color: #014260;
}

#_145_navAddControls a:hover {
    color: #fff;
}


/* Filter Icon */
#_145_searchApplication {
		background-image: url('/so-up-theme/css/../images/ple-icons.png');
		background-repeat:no-repeat;
		background-position: 20px -91px;
    	text-indent: 30px;
}

/* unnötiges ausblenden */

.aui #_145_addPanelSidebar .nav-pills > li.active {
   
    display: block;
}

.aui #_145_addPanelSidebar .nav-pills > li {
   display:none;
}

.aui #_145_addPanelSidebar .nav-pills > .active > a, .aui #_145_addPanelSidebar .nav-pills > .active > a:hover, .aui #_145_addPanelSidebar .nav-pills > .active > a:focus {
    background-color: #fff;
    color: #014260;
    font-size: 2em;
    padding-left: 0;
    border:none;
}


div#_145_editLayoutContainer .nav li:first-child,  div#_145_editLayoutContainer .nav li:last-child {
	
	display:none;
   
}

div#_145_editLayoutContainer .nav li a .icon-remove:before {
	color:red;
}

div#_145_typeOptions .control-group #_145_type {
    display: none;
}

div#_145_customizationSettings {
    display: none;
}
