/*
@import url(./bootstrap-up.css);
*/

@import url(./bootstrap-responsive.css); 

@import url(./responsive-tabs.css); 

@import url(base.css); 

@import url(application.css);

@import url(layout.css);

@import url(dockbar.css);

@import url(admin-panel.css);

@import url(navigation.css);

@import url(portlet.css);

@import url(extras.css);

@import url(custom.css);

@import url(./up-dockbar.css);

@import url(./overlays.css);

@import url(./comments.css);

@import url(./app_view_toolbar.css);

@import url(./navbar.css); 

/*@import url(./startpage.css);*/

/*
@import url(./font-awesome.min.css); */


.container-fluid#wrapper div#content  {

  margin-left: 0%;
}

.portlet-column {
	width: 100%;
  
  margin-left: 0;
}

li.info-link-container {
    display: none;
}