.aui .app-view-taglib .btn-navbar.btn {
    padding: 10px;
    width:20px;
    height:20px;
    font-size: 17.5px;
    box-sizing: content-box;
    color: #014260;
}

.aui .portlet-column-content .portlet-body .navbar .btn-navbar {
	font-size: 17.5px !important;
    line-height: 30px;
    height:30px;
    margin: 5px;
    margin-top: 0;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    text-shadow: none;
    width: 37px;
    color: #014260;
    background-color: #d0dae3 !important;
    background-image: none;

}

@media (max-width: 767px) and (max-width: 979px) {
	.aui .app-view-taglib .btn-navbar.btn {
		box-sizing: content-box;
	}
}

@media (max-width: 979px) {
	.aui .btn 
	{
    	padding: auto;
    	font-size: 17.5px;
	}
	
	.aui .nav-collapse .nav > li > a, .aui .nav-collapse .dropdown-menu a {
		border-radius:0;
	}
	
	
	.aui .portlet-area .nav-collapse .nav {
		margin:0;
	}
	
	.navbar .container .nav-collapse.open {
		float:none;
		margin:0 auto;
		width:100%;
	}	
	
}

/* nav Tabs */

ul.nav.nav-tabs {
	background-color:#ededed;
}


/*
.nav-tabs li.active {
	width:100%;
	
} */

.nav-tabs li.active a {
	line-height:30px;
}

.aui .wrapper-portlet-area .navbar .nav.nav-tabs > li {
	background-color:transparent;
}

.aui .navbar .nav.nav-tabs > .active > a, 
.aui .navbar .nav.nav-tabs > .active > a:hover, 
.aui .navbar .nav.nav-tabs > .active > a:focus {
	background-color:transparent;
}

.nav-tabs li.active a.prev 
{
	border: none;
    background-color: #d0dae3 !important;
    background-image: url("/so-up-theme/css/../images/up_icons.png") !important;
    background-repeat:no-repeat;
    background-position:-3px -2395px;
    border-radius: 50% !important;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 0px;
    cursor:pointer !important;
        padding: 0 !important;
        line-height:20px;

}

.nav-tabs li.active a.next {
    border: none;
    background-color: #d0dae3 !important;
    background-image: url("/so-up-theme/css/../images/up_icons.png") !important;
    background-repeat: no-repeat;
    background-position: -71px -2395px !important;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0px;
    border-radius: 50% !important;
      cursor:pointer !important;
       padding: 0 !important;
       line-height:20px;
}


.aui .wrapper-portlet-area .navbar .nav.nav-tabs > .active > a {
	border:none;
}