 @import "compass"; 
/*custom*/
.container-fluid#wrapper div#content  {
	width: 78%;
  
  margin-left: 22%;
  padding-left: 0px;
}

.portlet-column {
	width: 78%;
  
  margin-left: 22%;
}


.portlet-column .portlet-column-content {
	border-width: 0 0px 0 0 !important;
	padding-right:1em;
}

/*hightlight portlet dropzone if empty */

body.signed-in.controls-visible .portlet-dropzone {

   
 
    display: inline-block;
 
    display: block;

    border: 2px dashed #d0dae3!important;
    min-height: 500px;
}



body.signed-in.controls-visible .portlet-dropzone.empty:after {
    content: "Drag Application Here";
    line-height: 1.2;
    padding-top: 50px;
    display: inline-block;
      font-size: 2em;
       color: #d0dae3;
    text-align: center;
}
/* ---------- Portlet wrapper and icons ---------- */



.portlet {
	border: 1px solid #ededed;
	border-bottom:1px solid #ededed !important;
}


.portlet .portlet-topper {
	padding-left:0 !important;
	padding-top:0 !important;
	padding:0 !important;
}


.portlet-boundary {
	
	margin-bottom: 10px;
	padding-bottom: 10px;
	
}


.portlet .portlet-content, .portlet .portlet-topper {
	padding-top: .5em;
}

.portlet-title {
	
  font-size: 1.5em;
  font-weight: 200;
  line-height: 1.25em;
  margin: 0;
 
  text-align: left;
  
  min-width: 100px;
 
  
background: #ededed; 
}

.aui .portlet-topper-toolbar .caret {
   
    vertical-align: top;
    border-top: 4px solid #014260 !important;
}
   
   .aui .portlet-topper-toolbar .icon-cog {
    color: #014260;
}


.portlet-title img {
	display: none;
}

.portlet-title-text, .portlet-title-default {
	  display: inline-block;
  max-width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;

  min-width: 100px;
  text-align: left;
  text-indent: 10px;
 
  font-size: .6em;
  line-height: 2;
}

/* portlet edit mode */

.portlet-borderless-bar {
	background-color: #ededed;
  padding: 0px;
  margin-bottom: 3px;
    text-align:left;
  padding-right: 50px;
 	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 1.6em;
	color: #fff;
	
}

.portlet-topper {
  position: relative;
}

.controls-visible .portlet .portlet-topper .portlet-topper-toolbar {
  display: block;
}
.portlet-topper .portlet-topper-toolbar {
  margin: 0;
  padding: 2px;
  position: absolute;
  right: 5px;
  text-align: right;
  top: 3px;
 
}

.portlet-draggable .portlet-topper {
  cursor: move;
}

.portlet-title-text {
  display: inline-block;
  max-width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  color: #014260;
  font-family: "source sans pro", arial, helvetica, sans-serif;
  font-weight:bold;
}
.portlet-title-editable {
  cursor: pointer;
}

.portlet-topper .portlet-topper-toolbar a i {
  font-size: 19px;
}

/* borderless portlet */

.controls-visible .portlet-borderless-container, .portlet-borderless-container
{
	border:1px solid #ededed;
	
}

.portlet-borderless:hover {
	-webkit-box-shadow: 0px 0px 0px 0px rgba(194,192,194,1);
-moz-box-shadow: 0px 0px 0px 0px rgba(194,192,194,1);
box-shadow: 0px 0px 0px 0px rgba(194,192,194,1);
}

.portlet-borderless-bar {
	background-color: #ededed;
    padding: 0px;
    margin-bottom: 3px;
    text-align: left;
    padding-right: 0px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.6em;
    color: #014260;
    position: relative;
    height: 25px;
    font-weight:bold;
	
}

.portlet-borderless-bar .portlet-title-text, .portlet-borderless-bar .portlet-title-default {
	isplay: block;
    width: 88%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    min-width: 100px;
    text-align: left;
    text-indent: 10px;
    font-size: .6em;
    float: left;
    line-height: 2;
    height: 25px;
}

.portlet-borderless-bar span.portlet-actions {
	border-radius: 0;
   
    display: block !important;
    position: relative;
        overflow: visible !important;
    float: right;
    max-width:50px !important;
    text-align: right;
}
.portlet-borderless-bar span.portlet-actions .portlet-options .btn-group {
	height:23px;
}

.portlet-borderless-bar span.portlet-actions .portlet-options .btn-group a {
	display: block;
    width: 25px;
    height: 19px;
    z-index: 100;
    position: absolute;
    color: #fff;
        right: 5px;
    background-color: transparent; 	
    margin-top: 5px;
}

.portlet-borderless-bar span.portlet-actions .portlet-options .btn-group a i.caret {
	    border-top: 4px solid #014260;
}

.portlet-borderless-bar span.portlet-actions .portlet-close {
	display:none;
}

.aui .portlet-borderless-bar .btn-group.open .dropdown-toggle {
	    background-image: url(../images/portlet/options_borderless.png);
}

.portlet-borderless-bar span.portlet-actions span div a li.caret {
	margin-top:4px;
}

.portlet-borderless-bar span.portlet-actions span span.portlet-action-separator {
	visibility:hidden;
}

