@import "up";

@media (min-width: 978px) {


	 /* html.aui body.signed-in .container-fluid.smallhead*/
	
	.dockbar .navbar-inner .nav > li > a.user-notification-link {
		width:50px;
		margin:0;
		background-color:#fff;
	}
	
	.hideformobile {
		display:none;
	}
	
	html.aui body.signed-in .container-fluid.smallhead
	{
	
	
	
		#sidebar
		{
			top:-1px;
			border-right:none;
			
			.title
			{
				height:30px;
			}
			
			.title:hover
			{
				background-color:#e3e9ee;
			}
			
				
		}
		#sidebar.show-sidebar 
		{
			
			z-index: 6;
			min-width:300px;
			
			.title 
			{
				left:100%;
				background-color: #d0dae3;
				padding-top: 20px;
				border-bottom: 4px solid #fff;
    			border-right: 4px solid #fff;
    			z-index:8;
    			transition:none;
			
					
			} /*ende .titel */
			
			.content 
			{
				border-right: 4px solid #fff;
			}
		} /* ende #sidebar */
		
		#sidebar:before
		{
			border-right:0px;
			display:none;
		}
		
		#sidebar .title
		{
			-moz-transform:  rotate(0deg);
			-ms-transform:  rotate(0deg);
			-o-transform:  rotate(0deg);
			-webkit-transform:  rotate(0deg);
			transform: rotate(0deg);
			    height: 30px;
   			 padding: 10px;
   			padding: 10px;
   			right: 0;
    		left: 0;
    		top: 0px;
			position: absolute;
			
			cursor: pointer;
			font-weight: bold;
			text-transform:uppercase;
			text-align:center;
			transition:none !important;
			width: 28px;
			border-radius:0;
		
			.arrow
			{
				-moz-transform: rotate(0deg);
				-ms-transform:rotate(0deg);
				-o-transform: rotate(0deg);
				-webkit-transform: rotate(0deg);
				transform:rotate(0deg);
				margin-left:0;
				display:block;
			}
			
			span 
			{
				font-size:0;
			}
			
			span:after {
				    margin-top: 0px;
				    margin-left:0;
			}
		
		}/* end sidebar title */
		
		
		#sidebar .title:before, #sidebar .title:after
		{
			display:none;
		}


	

/*begin page */
	
	
		
		
	
		
	.wrapper-portlet-area 
	{
		width:100%;
		
		
		.row-fluid .span4 
		{
			margin-left:0;
		}
		
		
		
		#left-nav-col {
			margin-left:.6em;
			
			#navigation {
				display:block;
			}
		}
		
		.portlet .portlet-content, .portlet .portlet-topper
		{
			padding:.3em .1em .1em .3em;
		}
		
				
		
	}/*ende wrapper portlet area*/
	

		
	
	#up_logo 
	{
		display:none;
		height: 0px;
	    width: auto;
	   
    		
    		img 
    		{
    			display:none;
    		}
    		
    		#up_logo_wrapper {
    			position:fixed;
    			left:0;
    			width:100%;
    		}
    		
    		
    		#up_logo_wrapper #up_logo_title 
    		{
    			float: none;
			    padding-top: 20px;
			    font-size: 1.53333em;
			    line-height: 1.2em;
			    font-family: arial;
			    position: relative;
			    background-color:transparent;
			    margin:0 auto;
			    
			    a 
			    {
			    	display:none;
			    }
			    
			    span.clicker 
			    {
			    	display: none;
				    margin: 20px auto;
				    position: relative;
				    margin-bottom:0;
				    background-color: #d0dae3;
				    /* border: 1px solid red; */
				    height: 30px;
				    cursor: pointer;
				    text-align: left;
    				text-indent: 10px;
    				font-weight: bold;
    				color: #014260;
    				width:98%;
				    
				    span 
				    {
				    	line-height: 30px;
    					font-size: .6em;
				    }
				    
				    span.up-arrow 
				    {
				    
				    	display: inline-block;
					    width: 29px;
					    height: 100%;
					    background-color: red;
					    float: right;
					    background-color: rgba(238, 238, 238, 0.38);
						background-image: url("/so-up-theme/css/../images/up_icons.png");
						background-position: -50px -1228px;
				    }
			    } /*ende clicker */
			    
			    
			    span.clicker.active span.up-arrow
			    {
			    	background-position: -97px -1188px;
			    
			    } 
			    #subnav-mobile 
							{
							    display: block;
   								width: 100%;
    							margin: 0 auto;
   								position: absolute;
    							z-index: 7;
    							background-color:#fff;
    							
					
							
								#navigation2
								{
									display:none;
    								background-color: #fff;
    								width: 100%;
    							
    								.scope-mobile .portlet-boundary_scopenavigation_WAR_scopenavigationportlet_
									{
							
										background-color: #fff;
										padding-bottom: 0;
								
										.portlet-content 
										{
											padding:10px 0 0 0;
								    
											form .control-group 
											{
    											margin-bottom: 0;
    											width: 100%;
    											display: inline-block;
    									
    											text-align:center;
    									
    											label
    											{
    									    		font-size: .6em;
    									    		text-align: left;
   													margin-bottom: 0px;
    												text-indent: 5px;
    											}
    											
    											select 
    											{
    												width: 100%;
    												font-size: .7em;
   													border: 4px solid #d0dae3;
    												margin-bottom: 0;
    											}
    											
    											
    								  								
											} /*ende form */
											
											.taglib-icon-help 
    											{
    												display: none;
												}
									
							     		} /*ende .portlet content */
							
									} /*ende scope mobile */
    								
    								
    								ul 
									{
							
										margin:0;
										margin-bottom:0px;
										background-color:#fff;
										border-width: 0px;
										width:95%;
										margin:0 auto;
    						
							
							
										li {
											width:100%;
											min-height: 40px;
											
												a
												{
												
													color:#014260;
													font-weight: bold;
	    											font-size: .7em;
	    											text-align: left;
	    											display:block;
												
												}
								
												a:hover
												{
													background-color:#d0dae3;
												}
								
												ul
												{
													border:none;
													margin-left: 0px;
													padding-left:20px;
													margin-right:0;
													display:none;
												
													li 
													{
														border-bottom:none;
														a 
														{
															padding-left:2px;
															border-bottom:0;
															color:#555;
															border-bottom: 1px solid #ededed
														}
													}
												
													li:last-child 
													{
														border-bottom:none;
													}
												
												
												} /* ende ul */
										} /* end li*/
							
										li.selected 
										{
										
											a 
											{
												color:#fff;
											}
										
											
											
											ul
											{
												li
												{
													a 
													{
														background-color:transparent;
														color:#555;
													}
												}
												
												li.selected
												{
													a 
													{
														background-color:#ededed;
														color:#555;
													}
													
													
													a:hover 
													{
														background-color:#d0dae3;
														color:#555;
													}
												} /*ende li.selected */
											} /*ende ul */
									
										} /*ende li.selected*/
							
										
										span.delete-tab
										{
											display:none;
										}
										
										li.has-children #up-arrow
										{
										
											display: inline-block;
										    width: 29px;
										    height: 43px;
										    position: absolute;
										    right: 0;
											background-color: rgba(238, 238, 238, 0.38);
											background-image: url("/so-up-theme/css/../images/up_icons.png");
										    background-position: -51px -1183px;
										}
									}/*end ul*/
								}/*end navigation*/
						
							}/*end subnav mobile */
			    
			    
				
				
    		} /*ende logo title */
	} /*ende up logo */
			
	header#banner
	{
		min-height: 10px;
		height:auto;
    	position: fixed;
    	top: 0;
    	width: 100%;
    	z-index: 5;
   		background-color: #ededed;
    	
    	box-sizing:border-box;
    	padding-left:40px;
    	
		#up_section_indicator
		{
			visibility:hidden;
			display:none;
		}
		
		.wrapper-banner {
			width:100%;
			margin:0;
		
			#uppertoolbar 
			{
				height: 47px;
	    		z-index: 3;
	    		width: auto;
	    		height: 47px;
	   			float:right;
	   			position:relative;
	   			
	   				
	    		#position-wrapper
				{
				 	
				 	height: 47px;
				 	width:auto;
				 	margin:0;
	    			
					
					/*ab hier dockbar*/
					#p_p_id_145_ 
					{
						min-width: auto;	
						width:auto;
						margin-left:0;
						
	    				#_145_dockbar /*.navbar*/
	    				{
	    					.navbar-inner 
							{
							
									
								.container
								{
									width:auto;
									
									a#_145_navSiteNavigationNavbarBtn, a#_145_navAddControlsNavbarBtn 
									{
										display:none;
									}
					
									ul#_145_navAccountControls.nav-account-controls /*das hier ist die blaue toolbar ganz oben */
									{
										li
										{
											
										
											a.user-notification-link
											{
												span.user-notifications-count
												{
													margin:0;
													height:48px !important;
													background-color:#fff;
												}
												
												span.user-notifications-count:hover {
													background-color:#d0dae3;
												}
											
											} /*ende a.user-no....*/
											
											a.user-notification-link:after {
												 background-position: -37px -337px;
											}
											
											ul li 
											{
												border-right:none;
											}	
										 } /*ende li */	
										 
										 li.dockbar-user-notifications
										 {
										 	
										 	background-color: white;
    										border-right: 1px solid #ededed;
    										margin-right:0;
										 	
										 	.dockbar-user-notifications-container.open 
										 	{
										 		ul.dropdown-menu
										 		{
										 			width:360px;
										 			margin-top: 6px !important;
										 			
										 			div 
										 			{
										 				li.user-notification 
										 				{
										 					padding: 0.26667em 0.66667em;
										 				}
										 			}
										 			
										 			
										 		}
										 	}
										 }
										
										li.user-avatar
										{
											margin:0;
												a.user-avatar-link
												{
													max-height:48px !important;
													width:50px;
													padding: 0;
													background-color:#fff;
													margin-right:0;
												
													span
													{
												
														display:none;
													}
								
												} /*end a */
												
												a.user-avatar-link:hover
												{
													background-color:#d0dae3;
												}
												
												.dropdown-menu 
												{
													margin-top:2px !important;
													
													
													span.badge.site-type 
													{
														background-color:#014260;
														color:#fff !important;
													}
													
												}
											} /*ende li.user... */
											
											li.user-avatar.open
											{
												border-bottom:5px solid #d0dae3;
											}
											
										} /*ende ul#145..*/
											
											
											
										
									
						
										#_145_navAddControlsNavbarCollapse /*seitenpanel ?*/
										{
											position: absolute;
											right: 0px;
											
											ul
											{
												padding-top:60px;
											}
						
											
										}/*end 145 Navbar Collapse */
										
										#_145_navAccountControls 
										{
											span.user-notifications-count 
											{
												height:47px;
											}
										}
										
									}/*end .container*/	
								}/*end navbar.inner */
							} /* end #_145_dockbar */	
						} /*end ppid*/ 
					 	 
					 	 				 	 
					 	 #globalsearch
					 	 {
					 	 	
					 	 	min-width:47px;
					 	 	margin-left:0;
					 		margin-right:0;
	    					
	    					form
	    					{
	    						
	    					  						
	    						input[type="text"]
	    						{
								    background-color: #fff;
								    height:48px;
								    border-right: 1px solid #ededed;
	    						}
	    						
	    						
	    						input[type="text"]:hover
	    						{
	    							background-color:#d0dae3;
	    						}
	    						
	    						
	    						
	    						input[type="text"]:focus, input[type="text"]:active
	    						{
	    							
	    							    width: 250px;
									    position: fixed;
									    height: 50px;
									    right: 148px;
									    /* border-left: 1px solid #ededed; */
									    background-color: #d0dae3;
									    border-right: none;
									    border: 1px solid #014260;
									    box-shadow: none;
									    color: #014260;
	    						
	    							
	    						}
	    						
	    						
							}
	    					
	    						
					 	 }/*ende globalsearch*/
					 	
					 	 #languageselect
	    			 	 {
	    			 	    width: 50px;
	    					height: 48px;
	    					overflow:hidden;
	    					margin-left:0;
					 		margin-right:0;
					 		    border-right: 1px solid #ededed;
	   						
	   						
	   						#p_p_id_82_
	   						{
	   							padding:0;
	   							margin:0;
	   							
	   							#portlet_82
	   							{
	   								border:none;
	   								border-bottom:none !important;
								}
								
								.portlet-borderless-container .portlet-body.signed-in form .control-group select
								{
									background-color:#d0dae3;
									height: 47px;
								    border: none;
								    border-left: 1px solid #B3BFCA;
								    
								    option {
								    
								    	color:#014260;
								    	background-color:#d0dae3;
								    }
									
									
								}
								
								.portlet-borderless-container .portlet-body.signed-in form .control-group:hover select
								{
									background-color:#d0dae3;
								}
	   							
	   						}
	    			 
	    			 	 } /*ende languageselect*/
	    			
	    								
					}/*end pos wrapper */
					
				} /*end upper toolbar */
			
			
		#navigation-wrapper
			{
				    width: 102px;
	    			position: relative;
	    			float: right;
	    			
	    			height: 47px;
	    			z-index: 2;
	    			top: 0;
	    			
	   
				
				.btn-toolbar
				{
					width:100%;
					margin:0;
					
					display:block;
					
					.btn-group
					{
						    float: right;
	   						background: #ededed;
	    					margin-left: 0;
	    					font-size: 1em;
	    					width: 50px;
	    					display: block;
	    				
	    					border-right: 1px solid #ededed;
	    				
	    				a
	    				{
	    					    height: 47px;
	    					    font-size:0;
	    					    margin-top:0;
	    					    padding:0;
	    					    width:50px;
	    					    height:48px;
	    					    -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
	    						-moz-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
	    						box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
	    						background-color:#fff;
	    					    
	    					    span {
	    					    	display:none;
	    					    }
	    					    
	    					    
	    				}
	    				
	    				a:hover {
	    					background-color:#d0dae3;
	    				}
	    				
	    				a.services:after
						{
							content:"UP";
							
							display: inline-block;
							margin-top:15px;
							color:#014260;
							font-weight:bold;
							font-size: 25px
						}
					
						a.help:after
						{
							content: "\f1cd";
	    					font-family: FontAwesome;
	    					font-size: 20px;
							color:#014260;
							display: inline-block;
							margin-top:15px;
							font-style: normal;
							font-variant: normal;
							ont-weight: normal;
							
						}
						
						.dropdown-menu
						{
						
						
	    					margin-top:1px;
						}
						
						
						.dropdown-menu li
						{
						    font-size: 0.9em;
						    text-align: left;
						    cursor: pointer;
						    
						    a
						    {
						    	font-size: 1.5em;
							    height: 100%;
							    width: 80%;
							    margin: 0 auto;
							    padding: 0.26667em 0.66667em;
							    border-bottom: 1px solid #e2e9ee;
						    }
						}
	    				
	    								
					}
					
					.btn-group.open
					{
						a 
						{
							   background-color:#d0dae3;
							   border-bottom: 1px solid #d0dae3;
    							box-sizing: content-box;
						}
					
					} 
				}
			}
			
			#main-menu-wrapper 
			{
				position:relative;
				padding-right:300px;
				    margin-left: 8px;
				background-color:#ededed;
				margin-top:-46px;
				
				
				
			
				ul#main-menu
				{	    
					
	   				
	   				
	    			margin: 0;
	    			width:100%;
	    			height:47px;
	    			min-width: 130px;
	    			border-bottom: 1px solid #ededed;
	    			background-color:#fff;
		
					
					li
					{
						  
						padding-bottom:10px;
						padding-top:10px;
						line-height: .5em;
						height:47px; 
						min-width: 40px;
	    				font-size:85%;
	    			     width: 33.3%; 
	    				
						ul
						{
							transition: height .2s ease-in;
							font-size: 120%;
							height:210px;
							
						 	li
							{
								padding-bottom:3px;
								padding-top:3px;
								width:100%;
							}
						}
					 } /*ende li */
					 
					 
					 span.icon.close
					 {
					  	right:80px
					 
					 }
					 
				} /* ende main menu */
				
				#main-menu.open
			
				{
				
					height:100% !important;
					
					li
					{
						height:auto;
						line-height:20px;
					}
					
					li:hover
					{
						background: $upDarkBlue;
						color: $upWhite;
					
						.icon.arrow
						{
							background-position: -136px -126px;
						}
					
						ul
						{
							background: $upDarkBlue;
						
							li
							{
								background: $upDarkBlue;
								color: $upWhite;
								font-size: 0.9em;
								border-bottom: 1px solid #598497;
								width:100%;
							
								a
								{
									color: $upWhite;
									-webkit-transition: background-color 0.2s ease-out;
	    							transition: background-color 0.2s ease-out;
	    							
								}
							}	
							
							li:hover 
							{
								background-color: #598497;
							}
						}
					}/*end hover*/
				}/*end main menu open*/	
				
				
			}/*end main menu wrapper */
			
			nav#breadcrumbs
			{
				display:none;
				margin-left:-40px;
	      		  	
	    		.breadcrumb
	    		{
	    			
	    			margin: 0px ;
	    			padding: 5px 0px 5px 5px;
	    			background-color: #ededed;
	    			text-align:left;
	    			
	    			li, li.active
	    			{
	    				text-shadow:none;
	    				
	    				a
	    				{
	    					color:#014260;
	    				}
	    			}
	    		}
			
			}
		}
	} /*end header banner */	
		
} /*end smallhead*/
	
} /*ende min width */
