@import "up";

/*smallhead ab 1006*/

html.aui 
{
	.dockbar-split 
		.dockbar
		{
			transition: none !important;
			
			.nav-account-controls
			{
				transition: none !important;
			}
		}
	
	.dockbar-split.show-dockbar
	{
		border-left: 0px solid white;
		margin-right: 53px;
		transition: none;
		overflow: visible;
	
		.dockbar .navbar-inner .nav-add-controls
		{
			
			left: auto;
			right: 0px;
			margin-left: 0px;
			margin-right: 0px;
			transition: none;
		}
	}
	
	.lfr-admin-panel
	{
		left: auto;
		right: 0;
	}
	
	.dockbar-split.show-dockbar.lfr-has-add-content
	{
		margin-right: 350px;
		padding-left: 0px;
	}
	
	.dockbar-split.show-dockbar.lfr-has-edit-layout
	{
		margin-right: 460px;
		padding-left: 0px;
	}

	body
	{
		background: $upBgColor;
		font-family: "Source Sans Pro","Helvetica",Helvetica,Arial,sans-serif;

		position: relative;

		transition-property: margin-right;
		transition-duration: 0.2s;

	
		#up_section_indicator
		{
			width: 33.3333%;
			background-color: $upDarkBlue;
			height: 20px;
		}
		
		
		
		.windowdiv
		{
			z-index:3500;
			position: absolute;
			overflow: hidden;
			display: block;
		}
		
		.liferay_dockbar
		{
			z-index:10;
	    	overflow: hidden;
			position: absolute;
			
			
			.dockbar .navbar-inner .nav-add-controls > li > a .nav-item-label
			{
				left: auto;
				right: 100%;
				margin-right: 0.5em;
			}

			#_145_navSiteNavigationNavbarCollapse {
				display: none;
			}
			
			#_145_navAccountControlsNavbarCollapse {
				display: none;
			}
			
			.dockbar .navbar-inner .nav-add-controls{
				transition-property: margin-right;
				margin-right: 0px;
			}
		}
		
		#wrapper
		{
			overflow: visible;
			width: 100%;
			min-height: 100%;
			position: relative;
			background: $upBgColor;
			
			.wrapper-portlet-area
			{
				#content
				{
					min-height:1000px !important;
				}
			}
		}
		
		
		
		
		#up_logo {
			
			height: 120px;
			width:100%;
			transition: width, height .5s ease;
			#up_logo_wrapper
			{
				width:90%;
				margin:0 auto;
			
				#up_logo_indicator
				{
					height: 20px;
				}
			
				#up_logo_image
				{
					padding: 0px 15px;
					float: left;
						
					img
					{
						width: 80px;
						height: 80px;
					}
				}
			
				#up_logo_title
				{
					float: left;
					padding-top: 20px;
			    	font-size: 1.53333em;
    				line-height: 1.2em;
    				font-family: "Georgia","Times New Roman",Times,sans-serif;
				
					a
					{
						color: $upDarkBlue;
					}
			
					#subnav-mobile
					{
						display:none;
					}
				}
			
			
			
				#up_logo_footer{
					height: 40px;
				}
			}
		} /*ende up logo */
			
	
		header#mobile-menu {
			display: none;
		}
			
		header#banner{
		
			background: $upGray;
			padding: 0;
			margin: 0;
			overflow: visible;
			min-height: 140px;
			transition: padding .5s ease-in-out;
			
			
			
			#uppertoolbar 
			{
			
				 position: absolute;
   				 top: 0;
    			 z-index: 1;
    			 width: 100%;
    			 right: 0;
    			 height: 47px;
    			
			
				#position-wrapper
				{
					position:relative;
					width:90%;
					margin:0 auto;
				 	
				 	 /*ab hier dockbar*/
					#p_p_id_145_ 
					{
						position: relative;
    					min-width: 200px;
   						float: right;
    					padding-bottom: 0;
    					margin-bottom: 0;
    					margin-left:2px;
    					
    					#_145_dockbar /*.navbar*/
    					{
    						
    						position:relative; 
    						height:auto;
						
							.navbar-inner 
							{
				
								border: 0px;
								box-shadow: none;
								border-radius: 0px;
								
								.container
								{
									width:auto;
				
									ul#_145_navAccountControls.nav-account-controls /*das hier ist die blaue toolbar ganz oben */
									{
										position: relative;
    									
    									float: none;
    									margin-right: 0;
							
					
										li
										{
											
											color: $upDarkBlue;
							

											span
											{
												color: $upDarkBlue;
											}				
						
															
											ul li 
											{
												height: auto;
							
												span 
												{
												color: $upDarkBlue;
												height: auto;
												}	
											}/*end ul li */
									   	}/* end li */	
									   	
									   	li.info-items, li.info-link-container 
									   	{
									   		display:none !important;
									   	}
						
						
												
										li.lang
										{
											background-color: $upWhite;
											color: $upDarkBlue;
											padding-left: 20px;			
						
											span
											{
												color: $upDarkBlue;
											}				
										}
						
										li.lang:hover 
										{
											background-color:#d0dae3;
										}
								
										li.lang a:after
										{
						    				display: block;
						    				content: "";
						   					width: 14px;
						    				height: 14px;
						    				@include up-grafic;
						    				background-position: -17px -53px;
						    				left: 10px;
						    				position: absolute;
						    				top: 15px;		
										}
						
										li.lang.open 
										{	
											background-color:#d0dae3;
										}
						
							
										li.dockbar-user-notifications a.user-notification-link:after
										{
						    				display: block;
						    				content: "";
						    				width: 23px;
						    				height: 20px;
						    				@include ple-grafic;
						    				background-position: -1px -335px;
						    				left: 15px;
						    				position: absolute;
						    				top: 14px;		
										}
						
										
										li.sign-in 
										{
											background-color: $upDarkBlue;
							
											span
											{
												color: $upWhite;
											}
										}
						
										a.user-notification-link
										{
														
											span.user-notifications-count
											{
								   				top: 0px;
   	 											height: 100%;
    											line-height: 20px;
   												background-position: 4px 379px;
    											background-color: transparent;
    											font-weight: bold;
  
    											padding-bottom: 0;
    											width: 100%;
											}
							
										} /*end a */
									}/*end ul navbar.nav */
					
									#_145_navAddControlsNavbarCollapse /*seitenpanel ?*/
									{
										
					
										ul.nav-add-controls
										{
											display: block;
											transistion: none !important;
											transition-duration: 0s;
											transition-property: none;
							
											width: 60px;
										
											
										}
									}/*end 145 Navbar Collapse */
								}/*end .container*/	
							}/*end navbar.inner */
						} /* end #_145_dockbar */	
					} /*end ppid*/ 
				 	 
				 	 				 	 
				 	 #globalsearch
				 	 {
				 	 	
				 	 	float:right;
				 	 	position:relative;
				 	 	overflow:hidden;
				 	 	margin-right:2px;
				 	 	height:50px;
				 	 	
				 	 	form
				 	 	{
				 	 		margin:0;
				 	 		height:100%;
				 	 		
				 	 		input[type="text"]
				 	 		{
				 	 			width:50px;
				 	 			margin: 0;
    							box-sizing: border-box;
    							line-height:1;
    							text-indent:30px;
								height: 100%;
								background-color:#d0dae3;
								background-image: url('/so-up-theme/css/../images/up_icons.png') !important; 
    							background-repeat:no-repeat;
    							background-position: -3px 5px;
    							transition: all .3s ease-in-out;
    							border:none;
    							    
				 	 			
				 	 		}
				 	 		
				 	 		input[type=image]
				 	 		{
				 	 			display:none;
				 	 		}
				 	 		
				 	 		input:focus 
				 	 		{
				 	 			    width: 140px;
				 	 			    background-color: #fff;
    								border: 2px solid #014260;
    								box-sizing: border-box;
    							
				 	 		}
				 	 		
				 	 		
				 	 		select
				 	 		{
				 	 			display:none;
				 	 		}
				 	 		
				 	 		select > input
				 	 		{
				 	 			display:none;
				 	 		}
				 	 	}
				 	 	
				 	 	
				 	 }/*ende globalsearch*/
				 	 
				 	/* #globalsearch:before 
				 	 		{
				 	 		content:".";
				 	 		position:absolute;
				 	 		width:25px;
				 	 		height:25px;
				 	 		display:block;
				 	 		margin:15px 0 0 5px;
				 			color:#fff;
				 	 		
				 	 		} */
				 	
				 	 #languageselect
    			 	 {
    			 	    width: 50px;
    					height: 47px;
   						float:right;
   						
   						#p_p_id_82_
   						{
   							padding:0;
   							margin:0;
   							
   							
   							.portlet-borderless-bar
   							{
   								display:none;
   							}
   							
   							.portlet-body
   							{
   								form
   								{
   									margin:0;
   									
   									.control-group
   									{
   										margin-bottom:0;
   										width:50px;
   										
   										select
   										{
   										    margin: 0;
    										height: 50px;
   											width: 50px;
   											text-indent:50px;
   											background: url('/so-up-theme/css/../images/up_icons.png') no-repeat -5px -40px;
   											background-color:#fff;
   										}
   									}
   								}
   							}
   							
   						}
    			 
    			 	 } /*ende languageselect*/
    			
    			
					.notifications-portlet
					{
				
						li
						{
							list-style:none;
					
							span
							{
								background: none;
							}
						}
					}
					
				}/*end pos wrapper */
				
			} /*end upper toolbar */
			
		
		
			
			/* begin page content */
			#heading{
				padding-left: 50px;
				
				img
				{
					display: none;
				}
				
				
				.hideformobile
				{
					display:block;
				}
	
				
			}
		}
		
		#content{
			padding-left: 350px;
			background: $upWhite;
			
			.row-fluid
			{
				.span8 {
					width:63%;
				}
			}
		}
		
		#sidebar {
			width: 0px;
			left: 0px;
			top: 0px;
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			margin-right: 0px;
			z-index: 6;
	
								
			.title 
			{
				background: $upMenuColor;
				 transition: all .5s cubic-bezier(.09,1,.8,-0.37);
				-moz-transform: rotate(-90deg);
				-ms-transform: rotate(-90deg);
				-o-transform: rotate(-90deg);
				-webkit-transform: rotate(-90deg);
				transform:rotate(-90deg);
				
				width:140px;
				height:25px;
				padding:10px;
				right:-100px;
				top:250px;
				position: absolute;
				
				cursor: pointer;
				font-weight: bold;
				text-transform:uppercase;
				
				text-align:center;
				
				.arrow
				{
					@include up-grafic;
					background-position: -14px -505px;
					display: inline-block;
					
					-moz-transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-o-transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
					transform:rotate(90deg);
					margin-left: 10px;				
				}
				
				.arrow.down 
				{
					-moz-transform: rotate(-90deg);
					-ms-transform: rotate(-90deg);
					-o-transform: rotate(-90deg);
					-webkit-transform: rotate(-90deg);
					transform:rotate(-90deg);
				}	
				
				span 
				{
					display:inline;
				}
				
			} /* ende .title */
			
			
			.content 
			{
			
				h2 
				{
					display:none;
				}								
				.so-portlet-sites .portlet
				{
				
					.portlet-topper 
					{
						display:none;
						
						.portlet-topper-toolbar 
						{
							display:none;
						}
					
					}
										
					.portlet-content 
					{
					display:none;
					}
				}
			}
			
			
		} /* end #sidebar */
			
		#sidebar.show-sidebar {
			width: 300px;
			    transition: width .3s ease-in-out;
			
			.content 
			{
				position: absolute;
				width: 100%;
				background: $upMenuColor;
				height: 100%;
				
				h2 
				{
				
					
				}
				
				.so-portlet-sites .portlet
				{
					
					margin-top:10px;
					border:none;
					border-bottom:none !important;
					padding:.5em;
					
					
					.portlet-topper 
					{
						display:none;
						
						.portlet-topper-toolbar 
						{
							display:none;
						}
					
					}
					
					.portlet-content 
					{
						padding:0;
						display:block;
						
						.portlet-body
						{
							form 
							{
							
							.sites-tabs .control-group
							{
								margin-bottom:0;
								
								 select.aui-field-select
								{
									width: 100%;
   									 color: #fff;
    								background-color: #014260;
    								border: none;
								}
							}
								
								.search 
								{
									    
    									background-color: transparent;
    									margin-left: 0;
    									padding-left: 0;
								}
								
								.site-list-container
								{
									ul.site-list 
									{
										background: #d0dae3;
    									border: none;
    									
    									li
    									{
    										border-width:0px 0px 1px 0px;
    										border-color: #e2e9ee;
    										padding: 3px 10px 3px 3px;
    										
    										span.name 
    										{
    											font-size: 1.3em;
    											line-height: 1.5;
    											    font-weight: normal;
    											color: #014260;

    											
    											a, a:visited
    											{
    												color:#014260;
    											}
    										}
    									}
    									
    									li:before 
    									{
    										display:none;
    									}
    									
    									li:hover {
    										border-radius:0;
    										-webkit-border-radius: 0px;
    										-moz-border-radius: 0px;
    										-ms-border-radius: 0px;
   											 -o-border-radius: 0px;
    									}
									} /*ende ul */
								} /*ende site list container */
    									
    							.control-container
    							{
    								margin-top:10px;
    								padding-top:10px;
    								
    								padding-bottom:10px;
    								
    								
    								button 
    								{
    									    background-color: #014260;
    										color: #fff;
   											text-shadow: none;
   											margin-right: 10px;
    								}
    							}
									
								
								
							} /*ende form */
						} /* ende portlet body */
					} /* ende portlet content */
					
					
					
				} /*ende .portlet */
				
				
				h2
				{
					text-transform:uppercase;
				}	
				
			} /*ende .content */
		}
		
		.arrow {
			@include up-grafic;
			background-position: -15px -126px;
			display: inline-block;
			float: none;
		}
		
		.arrow.down {
			background-position: -99px -126px;
		}
		
		.icon {
			@include up-grafic;
			float: left;
		}
		
		#admin-wrapper
		{
			
			position: absolute;
			width:100%; 
			top: 100px;
			color: $upDarkBlue;
			
			#admin
			{
				width:89%;
				margin:0 auto;
				position:relative;
				list-style: none;
				display:block;
				
				li
				{
					float: right;
					padding: 5px;
					padding-right: 20px;
					background: $upLightBlue;
					margin-left:2px;
				
					#toggleDockbar
					{
						height: auto;
						width: auto;
						overflow: hidden;
						margin: 0;
					}
	
					.workspace
					{
						@include ple-grafic;
						background-position: 0px -354px;
						display: inline-block;
					}
				
					.admin
					{
						@include ple-grafic;
						background-position: 0px -421px;
						display: inline-block;
					}
				} 
			}
		}
		
		#main-menu-wrapper 
		{
			background-color:#ededed;
		
		
			ul#main-menu
			{
			
				list-style: none;
    			display: block;
   				 overflow: hidden;
    			padding: 0px;
    			position: relative;
    			
			    width: 90%;
   			 	margin: 0 auto;
				
				li.last-child
				 {
				 	border-right:none;
				 }
			
				
				li
				{
					width: 24.91%;
    
    				float: left;
    				background: white;
    				color: #014260;
    				display: block;
    				Overflow: hidden;
   					text-align: center;
    				 border-right: 2px solid #ededed;
   					box-sizing: border-box;
    				padding-bottom: 20px;
    				padding-top: 20px;
    				font-size: 1.1em;
    				font-weight: bold;
				
					.icon
					{
						float: none;
						display: inline-block;
					}
				
					ul
					{
						height: 205px;
						list-style: none;
						overflow: hidden;
						padding: 10px 0px;
						margin: 10px;
						transition: height .2s ease-in;
					
						li
						{
							float: none;
							width: 100%;
							text-align: left;
							font-weight:normal;
							border-right:none;
							padding-bottom: 2px;
    						padding-top: 2px;
    						border-bottom: 1px solid #ededed;
    						font-size: .9em;
						
							a
							{
								color: $upDarkBlue;
							}
			
						}
					  } /*ende ul */
				
					  ul.hidden 
					  {
					    display: block;
    					visibility: visible;
    					height: 0 !important;
    					width: 0 !important;
    					padding: 0 !important;
    					margin: 0 !important;
						}
						
						
						span.close
						{
							position: absolute;
   				 			bottom: 0;
   				 			right: 100px;
    						text-transform: uppercase;
    						font-size: 1em;
    						color: #666;
    						opacity: 1;
    						text-shadow: none;
   				 			margin-right: 15px;
    						margin-bottom: 10px;
    						cursor: pointer;
				
						}
				 } /*ende li */
				 
				 li:hover
				 {
				 	background-color:#014260;
				 	color:#fff;
				 	
				 
				 }
				 
				 
		
				
				
	
			} /* ende main menu */
			
			#main-menu.disabled
			{
				background: $upGray;
		
				li
				{
					color: $upDarkGray;
				}
			}
	
			#main-menu.open
			{
				li:hover
				{
					background: $upDarkBlue;
					color: $upWhite;
				
					.icon.arrow
					{
						background-position: -136px -126px;
					}
				
					ul
					{
						background: $upDarkBlue;
					
						li
						{
							background: $upDarkBlue;
							color: $upWhite;
							font-size: 0.9em;
							border-bottom: 1px solid #598497;
						
							a
							{
								color: $upWhite;
								-webkit-transition: background-color 0.2s ease-out;
    							transition: background-color 0.2s ease-out;
    							padding: 3px 5px;
							}
						}	
						
						li:hover 
						{
							background-color: #598497;
						}
					}
				}/*end hover*/
			}/*end main menu open*/		
			
			
		}/*end main menu wrapper */
		
			
	}
	
}
	
html.aui .container-fluid.smallhead
{
background: $upBgColor;
		
	.wrapper-portlet-area 
	{
		width:100%;
		margin-top:46px;
	}
		
	#line
	{
		display: none;
	}

	#sidebar .title
	{
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform:rotate(0deg);
		position: fixed;
		top: 0px;
		left: 0px;	
		width: 120px;
		height: 25px;
		margin: 0px;
		border-bottom: none;
		padding-top: 10px;
			
		.arrow
		{
			-moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			transform:rotate(0deg);			
		}
	
		.arrow.down
		{
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			transform:rotate(180deg);			
		}
	
	}
		
	#sidebar.show-sidebar .title
	{
		left: 300px;
	}
	 
/*begin page */
	
	#wrapper
	{
		overflow: visible;
		width: 100%;
		min-height: 100%;
		position: relative;
		background: $upBgColor;
	}
		
	#up_logo 
	{
		    height: 0px;
    		width: 0px;
    		
    		position: absolute;
    		font-size: 0em;
    		
    		img {
    			display:none;
    		}
	} /*ende up logo */
			
	header#banner
	{
		min-height: 10px;
		height:auto;
    	position: fixed;
    	top: 0;
    	width: 100%;
    	z-index: 5;
   		background-color: #d0dae3;
    	
    	box-sizing:border-box;
    	padding-left:140px;
    	
		#up_section_indicator
		{
			visibility:hidden;
		}
		
		#uppertoolbar 
		{
			height: 47px;
    		z-index: 3;
    		width: 310px;
    		height: 47px;
   			float:right;
   			position:relative;
   			margin-top:-20px;
    			
   				
    		#position-wrapper
			{
			 	
			 	height: 47px;
    			
				
				/*ab hier dockbar*/
				#p_p_id_145_ 
				{
					min-width: 120px;	
					
    				#_145_dockbar /*.navbar*/
    				{
    					.navbar-inner 
						{
						
								
							.container
							{
								width:auto;
				
								ul#_145_navAccountControls.nav-account-controls /*das hier ist die blaue toolbar ganz oben */
								{
									li
									{
										
										
														
																		
									  }/* end li */	
						
										a.user-avatar-link
										{
											height:46px !important;
							
										} /*end a */
									}/*end ul navbar.nav */
					
									#_145_navAddControlsNavbarCollapse /*seitenpanel ?*/
									{
										position: absolute;
										right: 0px;
										
										ul
										{
											padding-top:60px;
										}
					
										
									}/*end 145 Navbar Collapse */
									
								}/*end .container*/	
							}/*end navbar.inner */
						} /* end #_145_dockbar */	
					} /*end ppid*/ 
				 	 
				 	 				 	 
				 	 #globalsearch
				 	 {
				 	 	height: 46px;
    					
    					form
    					{
    						input[type="text"]:focus
    						{
    							width: 100px;
    							width: 250px;
    							position: fixed;
    							height: 47px;
    							right: 140px;
    						}
						}
    					
    						
				 	 }/*ende globalsearch*/
				 	
				 	 #languageselect
    			 	 {
    			 	    width: 47px;
    					height: 47px;
    					overflow:hidden;
    					margin-left: 5px;
   						
   						
   						#p_p_id_82_
   						{
   							padding:0;
   							margin:0;
   							
   							#portlet_82
   							{
   								border:none;
   								border-bottom:none !important;
							}
   							
   						}
    			 
    			 	 } /*ende languageselect*/
    			
    								
				}/*end pos wrapper */
				
			} /*end upper toolbar */
			
			
	#admin-wrapper
		{
			width: 100px;
    		position: relative;
    		float: right;
    		margin-top: -20px;
    		height: 47px;
    		z-index: 2;
    		top: 0;
	
			
			#admin
			{
				width:100%;
				margin:0;
				height:47px;
				display:block;
				
				li
				{
					float: right;
    				padding: 0;
    				padding-right: 0;
   					background: transparent;
    				margin-left: 2px;
    				height: 47px;
    				width: 47px;
    				overflow: hidden;
    				cursor:pointer;
    				
    				a
    				{
    					overflow: hidden;
    					margin: 0;
    					font-size: 0;
    					padding: 10px;
    					width: 20px;
    					height: 20px;
    					display: block;
    				}
    				
    				
					
				} 
			}
		}
		
		#main-menu-wrapper 
		{
			position:relative;
			padding-right:380px;
			margin-top:-20px;
			background-color:#d0dae3;
			margin-top:-20px;
				transition: background-color .7s ease-in-out;
			
			
		
			ul#main-menu
			{	    
				
   				
   				
    			margin: 0;
    		
    			height:47px;
	
				
				li
				{
					  
					padding-bottom:10px;
					padding-top:10px;
					line-height: .5em;
					height:47px; 
    				
					
					ul li
					{
						padding-bottom:3px;
						padding-top:3px;
					}
				
				 } /*ende li */
				 
			} /* ende main menu */
			
			#main-menu.open
		
			{
			
				height:100% !important;
				
				li
				{
					height:auto;
					line-height:20px;
				}
				
				li:hover
				{
					background: $upDarkBlue;
					color: $upWhite;
				
					.icon.arrow
					{
						background-position: -136px -126px;
					}
				
					ul
					{
						background: $upDarkBlue;
					
						li
						{
							background: $upDarkBlue;
							color: $upWhite;
							font-size: 0.9em;
							border-bottom: 1px solid #598497;
						
							a
							{
								color: $upWhite;
								-webkit-transition: background-color 0.2s ease-out;
    							transition: background-color 0.2s ease-out;
    							padding: 3px 5px;
							}
						}	
						
						li:hover 
						{
							background-color: #598497;
						}
					}
				}/*end hover*/
			}/*end main menu open*/	
			
			
		}/*end main menu wrapper */
		
		nav#breadcrumbs
		{
			margin-left:-140px;
      		  	
    		.breadcrumb
    		{
    			
    			margin: 0px ;
    			padding: 5px 0px 5px 5px;
    			background-color: #ededed;
    			
    			li, li.active
    			{
    				text-shadow:none;
    				
    				a
    				{
    					color:#014260;
    				}
    			}
    		}
		
		}
	} /*end header banner */	
		
} /*end smallhead*/
		
	
.so-portlet-sites ul.site-list li.social-office-enabled {
    background-image:none !important;
}	
	
html.aui body .page-customization-bar	{ /*kann bei gelegenheit wieder eingebledent werden */
	display:none;
}


/* konfigureiren butten voruebergehend ausblenden */

body.lfr-has-add-content  #admin li:first-child, body.lfr-has-edit-layout #admin li:first-child {
    display: none;
}	
	
/* alert info im contentbereich vorübergehend abblenden */

.aui #content .alert.alert-info {
    background-color: #eee;
    opacity: .3;
}	

.aui #content .portlet-column .alert.alert-info {
    background-color: #fff091;
    opacity: 1;
}
