@import "up";

/*smallhead ab 1247*/

.aui .lfr-has-add-content {
	padding-left: 0!important;
}

html.aui 
{
	.dockbar-split 
		.dockbar
		{
			transition: none !important;
			
			.nav-account-controls
			{
				transition: none !important;
			}
		}
	
	.dockbar-split.show-dockbar
	{
		border-left: 0px solid white;
		margin-right: 53px;
		transition: none;
		overflow: visible;
	
		.dockbar .navbar-inner .nav-add-controls
		{
			
			left: auto;
			right: 0px;
			margin-left: 0px;
			margin-right: 0px;
			transition: none;
		}
	}
	
	.lfr-admin-panel
	{
		left: auto;
		right: 0;
	}
	
	.dockbar-split.show-dockbar.lfr-has-add-content
	{
		margin-right: 350px;
		padding-left: 0px;
	}
	
	.dockbar-split.show-dockbar.lfr-has-edit-layout
	{
		margin-right: 460px;
		padding-left: 0px;
	}

	body
	{
		background: $upBgColor;
		font-family: "Source Sans Pro","Helvetica",Helvetica,Arial,sans-serif;

		position: relative;

		transition-property: margin-right;
		transition-duration: 0.2s;

	
		#up_section_indicator
		{
			width: 33.3333%;
			background-color: $upDarkBlue;
			height: 20px;
		}
	
		
		.windowdiv
		{
			z-index:3500;
			position: absolute;
			overflow: hidden;
			display: block;
		}
		
		.liferay_dockbar
		{
			z-index:10;
	    	overflow: hidden;
			position: absolute;
			
			
			.dockbar .navbar-inner .nav-add-controls > li > a .nav-item-label
			{
				left: auto;
				right: 100%;
				margin-right: 0.5em;
			}

			#_145_navSiteNavigationNavbarCollapse {
				display: none;
			}
			
			#_145_navAccountControlsNavbarCollapse {
				display: none;
			}
			
			.dockbar .navbar-inner .nav-add-controls{
				transition-property: margin-right;
				margin-right: 0px;
			}
		}
		
		#wrapper
		{
			overflow: visible;
			width: 100%;
			min-height: 100%;
			position: relative;
			background: $upBgColor;
			
			.wrapper-portlet-area
			{
				
				/*seitentitel und buttons - positionierung */
				
				.label-required {color:red !important;}
				
				#heading
				{
					
					
					display:none;
					
					
					
				}
				
				#content
				{
					min-height:1000px !important;
				}
			}
		}
		
		
		
					
	
		header#mobile-menu {
			display: none;
		}
			
		header#banner{
		
			background: $upGray;
			padding: 0;
			margin: 0;
			overflow: visible;
			min-height: 140px;	
			border: 0;
			
			#uppertoolbar 
			{
			
				 position: absolute;
   				 top: 0;
    			 z-index: 1;
    			 width: 100%;
    			 right: 0;
    			 height: 47px;
    			
			
				#position-wrapper
				{
					position:relative;
					width:88%;
					margin:0 auto;
				 	
				 	 /*ab hier dockbar*/
					#p_p_id_145_ 
					{
						position: relative;
    					min-width: 200px;
   						float: right;
    					padding-bottom: 0;
    					margin-bottom: 0;
    					margin-left:2px;
    					
    					#_145_dockbar /*.navbar*/
    					{
    						
    						position:relative; 
    						height:auto;
						
							.navbar-inner 
							{
				
								border: 0px;
								box-shadow: none;
								border-radius: 0px;
								
								.container
								{
									width:auto;
				
									ul#_145_navAccountControls.nav-account-controls /*das hier ist die blaue toolbar ganz oben */
									{
										position: relative;
    									
    									float: none;
    									margin-right: 0;
							
					
										li
										{
											
											color: $upDarkBlue;
							

											span
											{
												color: $upDarkBlue;
											}				
						
															
											ul li 
											{
												height: auto;
							
												span 
												{
												color: $upDarkBlue;
												height: auto;
												}	
											}/*end ul li */
									   	}/* end li */	
									   	
									   	li.info-items, li.info-link-container 
									   	{
									   		display:none !important;
									   	}
						
						
												
										li.lang
										{
											background-color: $upWhite;
											color: $upDarkBlue;
											padding-left: 20px;			
						
											span
											{
												color: $upDarkBlue;
											}				
										}
						
										li.lang:hover 
										{
											background-color:#d0dae3;
										}
								
										li.lang a:after
										{
						    				display: block;
						    				content: "";
						   					width: 14px;
						    				height: 14px;
						    				@include up-grafic;
						    				background-position: -17px -53px;
						    				left: 10px;
						    				position: absolute;
						    				top: 15px;		
										}
						
										li.lang.open 
										{	
											background-color:#d0dae3;
										}
						
							
										li.dockbar-user-notifications a.user-notification-link:after
										{
						    				display: block;
						    				content: "";
						    				width: 23px;
						    				height: 20px;
						    				@include ple-grafic;
						    				background-position: -1px -335px;
						    				left: 15px;
						    				position: absolute;
						    				top: 14px;		
										}
						
										
										li.sign-in 
										{
											background-color: $upDarkBlue;
							
											span
											{
												color: $upWhite;
											}
										}
						
										a.user-notification-link
										{
														
											span.user-notifications-count
											{
								   				top: 0px;
   	 											height: 100%;
    											line-height: 20px;
   												background-position: 4px 379px;
    											background-color: transparent;
    											font-weight: bold;
  												height:50px;
    											padding-bottom: 0;
    											width: 100%;
											}
							
										} /*end a */
									}/*end ul navbar.nav */
					
									#_145_navAddControlsNavbarCollapse /*seitenpanel ?*/
									{
										
					
										ul.nav-add-controls
										{
											display: none !important;
											
										
											
										}
									}/*end 145 Navbar Collapse */
								}/*end .container*/	
							}/*end navbar.inner */
						} /* end #_145_dockbar */	
					} /*end ppid*/ 
				 	 
				 	 				 	 
				 	 #globalsearch
				 	 {
				 	 	
				 	 	float:right;
				 	 	position:relative;
				 	 	overflow:hidden;
				 	 	margin-right:2px;
				 	 	height:50px;
				 	 	cursor:pointer;
				 	 	
				 	 	form
				 	 	{
				 	 		margin:0;
				 	 		height:100%;
				 	 		
				 	 		input[type="text"]
				 	 		{
				 	 			width:50px;
				 	 			margin: 0;
    							box-sizing: border-box;
    							line-height:1;
    							text-indent:30px;
								height: 48px; /* ? */
								background-color:#d0dae3;
								background-image: url('/so-up-theme/css/../images/up_icons.png') !important; 
    							background-repeat:no-repeat;
    							background-position: -3px 5px;
    							/*transition: width .3s ease-in-out;*/
    							border:none;
    						
    							    
				 	 			
				 	 		}
				 	 		
				 	 		input[type=image]
				 	 		{
				 	 			display:none;
				 	 		}
				 	 		
				 	 		input:focus 
				 	 		{
				 	 			    width: 240px;
				 	 			    background-color: #fff;
    								border: 2px solid #014260;
    								box-sizing: border-box;
    								
    							
				 	 		}
				 	 		
				 	 		
				 	 		select
				 	 		{
				 	 			display:none;
				 	 		}
				 	 		
				 	 		select > input
				 	 		{
				 	 			display:none;
				 	 		}
				 	 	}
				 	 	
				 	 	
				 	 }/*ende globalsearch*/
				 	 
				 	/* #globalsearch:before 
				 	 		{
				 	 		content:".";
				 	 		position:absolute;
				 	 		width:25px;
				 	 		height:25px;
				 	 		display:block;
				 	 		margin:15px 0 0 5px;
				 			color:#fff;
				 	 		
				 	 		} */
				 	
				 	 #languageselect
    			 	 {
    			 	    width: 50px;
    					height: 47px;
   						float:right;
   						
   						#p_p_id_82_
   						{
   							padding:0;
   							margin:0;
   							
   							.portlet-borderless-container
   							{
   							border:none;
   							
   							
   								.portlet-borderless-bar
   								{
   									display:none;
   								}
   							
   								.portlet-body
   								{
   									form
   									{
   										margin:0;
   									
   										.control-group
   										{
   											margin-bottom:0;
   											width:50px;
   										
   											select
   											{
   										  	 	margin: 0;
    											height: 50px;
   												width: 50px;
   												text-indent:50px;
   												background: url('/so-up-theme/css/../images/up_icons.png') no-repeat -5px -40px;
   												background-color:#fff;
   												-webkit-appearance: none;
												-moz-appearance: none;
												appearance: none;
   											}
   										}
   									}
   								}
   							
   							}
						}
    			 	 } /*ende languageselect*/
    			
    			
					.notifications-portlet
					{
				
						li
						{
							list-style:none;
					
							span
							{
								background: none;
							}
						}
					}
					
				}/*end pos wrapper */
				
			} /*end upper toolbar */
			
		
		
			
			/* begin page content */
			#heading{
			
				
				img
				{
					display: none;
				}
				
				
				.hideformobile
				{
					display:block;
				}
	
				
			}
		}
		
		#content{
			
			background: $upWhite;
			
			
		}
		
		#sidebar {
			width: 0px;
			left: 0px;
			top: 0px;
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			margin-right: 0px;
			z-index: 6;
			border-right: 15px solid #d0dae3;
	
								
			.title 
			{
				background: $upMenuColor;
				/*transition: all .5s cubic-bezier(.09,1,.8,-0.37);*/
				-moz-transform: rotate(-90deg);
				-ms-transform: rotate(-90deg);
				-o-transform: rotate(-90deg);
				-webkit-transform: rotate(-90deg);
				transform:rotate(-90deg);
				
				width: 140px;
			    height: 26px;
			    padding: 10px;
			    right: -100px;
			    top: 335px;
			    position: absolute;
			    cursor: pointer;
			    font-weight: bold;
			    text-transform: uppercase;
			    box-sizing: content-box;
			    text-align: center;
			    border-radius: 0px 59px 59px 10px;
			    -moz-border-radius: 0px 59px 59px 10px;
			    -webkit-border-radius: 0px 0px 25px 25px;
				
				
				
				span 
				{
					display:inline-block;
					 margin-top: 7px;
    				color: #014260;
				}
				
				span:after
				{
				margin-left: 10px;			
				content:"\f0c9";	
				font-size:15px;
				color:#014260;
				font-family: FontAwesome;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				font-weight: normal;
				}
					
				
			} /* ende .title */
			
			.title:before 
			{
				box-shadow: 6px -6px 2px #d0dae3;
			    left: -19px;
			    border-top-right-radius: 26px;
			    border-width: 0 1px 1px 0;
			    /* box-shadow: 2px 2px 0 #D1D1D1; */
			    /* border: 1px solid #AAA; */
			    position: absolute;
			    bottom: 3px;
			    width: 25px;
			    height: 25px;
			    content: " ";
			    background: transparent;
			}
			
			.title:after 
			{
				box-shadow: -6px -6px 2px #d0dae3;
			    left: 154px;
			    border-top-left-radius: 26px;
			    border-width: 0 1px 1px 0;
			    /* box-shadow: 2px 2px 0 #D1D1D1; */
			    /* border: 1px solid #AAA; */
			    position: absolute;
			    bottom: 3px;
			    width: 25px;
			    height: 25px;
			    content: " ";
			    background: transparent;
			}
			
			
			.content 
			{
			
				h2 
				{
					display:none;
				}								
				.so-portlet-sites .portlet
				{
				
					.portlet-topper 
					{
						display:none;
						
						.portlet-topper-toolbar 
						{
							display:none;
						}
					
					}
										
					.portlet-content 
					{
					display:none;
					}
				}
			}
			
			
		} /* end #sidebar */
		
		#sidebar:before
		{
			
			content: "";
		    display: block;
		    position: absolute;
		    height: 100%;
		    width: 15px;
		    background-color: #d0dae3;
		    transition: none;
		    top: 0;
		
		}
			
		#sidebar.show-sidebar {
			width: 300px;
			
			.content 
			{
				position: absolute;
				width: 100%;
				background: $upMenuColor;
				height: 100%;

				
				.so-portlet-sites .portlet
				{
					
					margin-top:10px;
					border:none;
					border-bottom:none !important;
					padding:.5em;
					
					
					.portlet-topper 
					{
						display:none;
						
						.portlet-topper-toolbar 
						{
							display:none;
						}
					
					}
					
					.portlet-content 
					{
						padding:0;
						display:block;
						
						.portlet-body
						{
							form 
							{
							
							.sites-tabs .control-group
							{
								margin-bottom:0;
								
								 select.aui-field-select
								{
									width: 100%;
   									    color: #014260;
    								background-color: #fff;
    								border: none;
    								border:2px solid #ededed;
								}
							}
								
								.search 
								{
									    
    									background-color: transparent;
    									margin-left: 0;
    									padding-left: 0;
    									position:relative;
    									
    									input:nth-of-type(2) 
    									{
    										display:none;
    									}
    									
    									input.search-input 
    									{
    										background-image: url("/so-up-theme/css/../images/ple-icons.png");
										    background-repeat: no-repeat;
										    background-position: 20px -91px;
										    text-indent: 30px;
    									}
								}
								
								.site-list-container
								{
									ul.site-list 
									{
										background: #d0dae3;
    									border: none;
    									
    									li
    									{
    										border-width:0px 0px 1px 0px;
    										border-color: #e2e9ee;
    										padding: 3px 10px 3px 3px;
    										
    										span.name 
    										{
    											font-size: 1.3em;
    											line-height: 1.5;
    											    font-weight: normal;
    											color: #014260;

    											
    											a, a:visited
    											{
    												color:#014260;
    											}
    										}
    									}
    									
    									li:before 
    									{
    										display:none;
    									}
    									
    									li:hover {
    										border-radius:0;
    										-webkit-border-radius: 0px;
    										-moz-border-radius: 0px;
    										-ms-border-radius: 0px;
   											 -o-border-radius: 0px;
    									}
									} /*ende ul */
								} /*ende site list container */
    									
    							.control-container
    							{
    								margin-top:10px;
    								padding-top:10px;
    								
    								padding-bottom:10px;
    								
    								
    								button 
    								{
    									    background-color: #014260;
    										color: #fff;
   											text-shadow: none;
   											margin-right: 10px;
    								}
    							}
									
								
								
							} /*ende form */
						} /* ende portlet body.signed-in */
					} /* ende portlet content */
					
					
					
				} /*ende .portlet */
				
				
				h2
				{
					text-transform:uppercase;
				}	
				
			} /*ende .content */
		}
		
		.arrow {
		
			background-position: -15px -126px;
			display: inline-block;
			float: none;
		}
		
		.arrow.down {
			background-position: -99px -126px;
		}
		
		.icon {
			@include up-grafic;
			float: left;
		}
		
		#navigation-wrapper
		{
			
			position: absolute;
			width:100%;
			top: 80px;
			color: $upDarkBlue;
			
			.btn-toolbar
			{
				
				margin: 0 auto;
    			position: relative;
    			list-style: none;
   				width: 87.6%;
   				display: block;
   
    			font-size: 1em;
				
				.btn-group
				{
					float: right;
    				background: #d0dae3;
    				margin-left: 1px;
    				font-size: 1em;
					
					a 
					{
						   font-size: 1em;
    						text-transform: uppercase;
    						text-align: center;
    						font-family: "Source Sans Pro","Helvetica",Helvetica,Arial,sans-serif;
    						font-weight: normal;
    						width: 100%;
    						
    						span 
    						{
    							margin-left:15px;
    						}
					
					}
					
					.dropdown-menu 
					{
						border: none;
    					margin-top: 2px;
						
						a 
						{
							text-transform: none;
						    color: #014260;
						    text-align: left;
						    font-size: 110%; 
						    margin-left: 0;
						    padding-left: 5px;
						    width: auto;
						    display: block;
						    margin-left: 8px;
						    margin-right: 8px;
						    border-bottom: 1px solid #fff;
						    
						    .caret
						    {
						    	border-top-color:#014260;
						    }
						}	
						
						a:last-child
						{
							border-bottom:none;
						}
					}
					
				
				
	
					.services
					{
						@include ple-grafic;
						background-position: 0px -354px;
						display: inline-block;
						width:auto;
						color:#014260;
					}
				
					.help
					{
						@include ple-grafic;
						background-position: 0px -421px;
						display: inline-block;
						width:auto;
						color:#014260;
					}
					
					
					
					
					
				} 
				
				.btn-group.open
				
				{
					border-bottom:2px solid #d0dae3;
					
					a
					{
						.caret 
						{
							border-top: none;
							border-bottom: 4px solid #014260;
						   
						    
						}
					}
				}
				
				
			}
		}
		
		#main-menu-wrapper 
		{
			background-color:#ededed;
		
		
			ul#main-menu
			{
			
				list-style: none;
    			display: block;
   				 overflow: hidden;
    			padding: 0px;
    			position: relative;
    			
			    width: 89.7%;
   			 	margin: 0 auto;
				
				li.last-child
				 {
				 	border-right:none;
				 }
			
				
				li
				{
					width: 32.91%;
    
    				float: left;
    				background: white;
    				color: #014260;
    				display: block;
    				Overflow: hidden;
   					text-align: center;
    				 border-right: 2px solid #ededed;
   					box-sizing: border-box;
    				padding-bottom: 20px;
    				padding-top: 20px;
    				font-size: 1.1em;
    				font-weight: bold;
    				
    				
				
					.icon
					{
						float: none;
						display: inline-block;
					}
				
					ul
					{
						height: 205px;
						list-style: none;
						overflow: hidden;
						
						margin: 10px;
						transition: height .2s ease-in;
					
						li
						{
							float: none;
							width: 100%;
							text-align: left;
							font-weight:normal;
							border-right:none;
							padding-bottom: 2px;
    						padding-top: 2px;
    						border-bottom: 1px solid #ededed;
    						font-size: .9em;
						
							a
							{
								color: $upDarkBlue;
								display:inline-block;
								width:100%;
							}
			
						}
						
						
					  } /*ende ul */
				
					  ul.hidden 
					  {
					    display: block;
    					visibility: visible;
    					height: 0 !important;
    					width: 0 !important;
    					padding: 0 !important;
    					margin: 0 !important;
						}
						
						
						span.close
						{
							position: absolute;
   				 			bottom: 0;
   				 			right: 100px;
    						text-transform: uppercase;
    						font-size: 1em;
    						color: #666;
    						opacity: 1;
    						text-shadow: none;
   				 			margin-right: 15px;
    						margin-bottom: 10px;
    						cursor: pointer;
				
						}
				 } /*ende li */
				 
				 li:hover
				 {
				 	background-color:#014260;
				 	color:#fff;
				 	
				 
				 }
				 
				 
				span.close.icon
					{
						position: absolute;
    					right: 10%;
    					bottom: 10px;
    					font-size: .9em;
    					background-position: -19px -319px;
    					background-repeat: no-repeat;
    					text-transform: uppercase;
    					text-indent: 20px;
    					line-height: 15px;
    					color: #908f8f;
    					opacity: 1;
    					text-shadow:none;
					}
	
			} /* ende main menu */
			
			#main-menu.disabled
			{
				background: $upGray;
		
				li
				{
					color: $upDarkGray;
				}
			}
	
			#main-menu.open
			{
				li:hover
				{
					background: $upDarkBlue;
					color: $upWhite;
				
					.icon.arrow
					{
						background-position: -136px -126px;
					}
				
					ul
					{
						background: $upDarkBlue;
					
						li
						{
							background: $upDarkBlue;
							color: $upWhite;
							font-size: 0.9em;
							border-bottom: 1px solid #598497;
						
							a
							{
								color: $upWhite;
								-webkit-transition: background-color 0.2s ease-out;
    							transition: background-color 0.2s ease-out;
    							
							}
						}	
						
						li:hover 
						{
							background-color: #598497;
						}
					}
				}/*end hover*/
			}/*end main menu open*/		
			
			
		}/*end main menu wrapper */
		
			
	}
	
}
	
html.aui body.signed-in .container-fluid.smallhead
{
background: $upBgColor;
		
	.wrapper-portlet-area 
	{
		width: 91%;
		margin-top:300px !important;
	}
		
	#line
	{
		display: none;
	}
	
	#sidebar:before
	{
		
		display:none;
	}
	
	#sidebar
	{
		border-right:none;
	}

	#sidebar .title
	{
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform:rotate(0deg);
		position: fixed;
		top: 0px;
		left: 0px;	
		width: 120px;
		height: 25px;
		margin: 0px;
		border-bottom: none;
		padding-top: 10px;
			
		.arrow
		{
			-moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			transform:rotate(0deg);
		}
	
		.arrow.down
		{
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			
				
		}
		
		
	
	}
	
	#sidebar .title:before, #sidebar .title:after
		{
			
			display:none;
		}
		
	#sidebar.show-sidebar .title
	{
		left: 300px;
		border-radius:0;
	}
	 
/*begin page */
	
	#wrapper
	{
		overflow: visible;
		width: 100%;
		min-height: 100%;
		position: relative;
		background: $upBgColor;
	}
		
	#up_logo 
	{
		    height: 0px;
    		width: 0px;
    		
    		position: absolute;
    		font-size: 0em;
    		
    		img {
    			display:none;
    		}
    		
    	
	} /*ende up logo */
			
	header#banner
	{
		min-height: 10px;
		height:auto;
    	position: fixed;
    	top: 0;
    	width: 100%;
    	z-index: 5;
   		background-color: #d0dae3;
    	
    	box-sizing:border-box;
    	padding-left:140px;
    	
		#up_section_indicator
		{
			visibility:hidden;
		}
		
		#uppertoolbar 
		{
			height: 47px;
    		z-index: 3;
    		width: 230px;
    		height: 47px;
   			float:right;
   			position:relative;
   			margin-top:-20px;
    			
   				
    		#position-wrapper
			{
			 	
			 	height: 47px;
			 	width:auto;
			 	margin:0;
    			
				
				/*ab hier dockbar*/
				#p_p_id_145_ 
				{
					min-width: 120px;	
					
    				#_145_dockbar /*.navbar*/
    				{
    					.navbar-inner 
						{
						
								
							.container
							{
								width:auto;
				
								ul#_145_navAccountControls.nav-account-controls /*das hier ist die blaue toolbar ganz oben */
								{
									li
									{
										
										
														
																		
									  }/* end li */	
						
										a.user-avatar-link
										{
											height:46px !important;
							
										} /*end a */
									}/*end ul navbar.nav */
					
									#_145_navAddControlsNavbarCollapse /*seitenpanel ?*/
									{
										position: absolute;
										right: 0px;
										
										ul
										{
											padding-top:60px;
										}
					
										
									}/*end 145 Navbar Collapse */
									
									#_145_navAccountControls 
									{
										span.user-notifications-count 
										{
											height:47px;
										}
									}
									
								}/*end .container*/	
							}/*end navbar.inner */
						} /* end #_145_dockbar */	
					} /*end ppid*/ 
				 	 
				 	 				 	 
				 	 #globalsearch
				 	 {
				 	 	height: 46px;
    					
    					form
    					{
    						
    						input[type="text"] {
    							position: fixed;
    							right: 180px;
    						}
    						
    						
    						input[type="text"]:focus
    						{
    							width: 100px;
    							width: 250px;
    							
    							height: 47px;
    							
    						}
						}
    					
    						
				 	 }/*ende globalsearch*/
				 	
				 	 #languageselect
    			 	 {
    			 	    width: 47px;
    					height: 47px;
    					overflow:hidden;
    					margin-left: 5px;
   						
   						
   						#p_p_id_82_
   						{
   							padding:0;
   							margin:0;
   							
   							#portlet_82
   							{
   								border:none;
   								border-bottom:none !important;
							}
   							
   						}
    			 
    			 	 } /*ende languageselect*/
    			
    								
				}/*end pos wrapper */
				
			} /*end upper toolbar */
			
			
	#navigation-wrapper
		{
			    width: 100px;
    			position: relative;
    			float: right;
    			margin-top: -20px;
    			height: 47px;
    			z-index: 2;
    			top: 0;
   
			
			.btn-toolbar
			{
				width:100%;
				margin:0;
				height:47px;
				display:block;
				
				.btn-group
				{
					    float: right;
   						background: #d0dae3;
    					margin-left: 0;
    					font-size: 1em;
    					width: 50px;
    					display: block;
    					height: 47px;
    				
    				a
    				{
    					    height: 47px;
    					    font-size:0;
    					    padding:0;
    					    width:50px;
    					    height:47px;
    					    -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
    						-moz-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
    						box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
    					    
    					    span {
    					    	display:none;
    					    }
    				}
    				
    				a.services:after
					{
						content:"UP";
						
						display: inline-block;
						margin-top:15px;
						color:#014260;
						font-weight:bold;
						font-size: 25px
					}
				
					a.help:after
					{
						content: "\f1cd";
    					font-family: FontAwesome;
    					font-size: 20px;
						color:#014260;
						display: inline-block;
						margin-top:15px;
						font-style: normal;
						font-variant: normal;
						font-weight: normal;
						
					}
    				
    								
				} 
			}
		}
		
		#main-menu-wrapper 
		{
			position:relative;
			padding-right:280px;
		
			background-color:#d0dae3;
			margin-top:-46px;

		
			ul#main-menu
			{	    
    			margin: 0; 		
    			height:47px;
				
				li
				{
					  
					padding-bottom:10px;
					padding-top:10px;
					line-height: .5em;
					height:47px; 
    				
					ul
					{
						transition: height .2s ease-in;
					 	li
						{
							padding-bottom:3px;
							padding-top:3px;
						}
					}
				 } /*ende li */
				 
			} /* ende main menu */
			
			#main-menu.open
		
			{
				height:100% !important;
				
				li
				{
					height:auto;
					line-height:20px;
				}
				
				li:hover
				{
					background: $upDarkBlue;
					color: $upWhite;
				
					.icon.arrow
					{
						background-position: -136px -126px;
					}
				
					ul
					{
						background: $upDarkBlue;
					
						li
						{
							background: $upDarkBlue;
							color: $upWhite;
							font-size: 0.9em;
							border-bottom: 1px solid #598497;
						
							a
							{
								color: $upWhite;
								-webkit-transition: background-color 0.2s ease-out;
    							transition: background-color 0.2s ease-out;
    							
							}
						}	
						
						li:hover 
						{
							background-color: #598497;
						}
					}
				}/*end hover*/
			}/*end main menu open*/	
			
			
		}/*end main menu wrapper */
		
		nav#breadcrumbs
		{
			margin-left:-140px;
      		  	
    		.breadcrumb
    		{
    			
    			margin: 0px ;
    			padding: 5px 0px 5px 5px;
    			background-color: #ededed;
    			
    			li, li.active
    			{
    				text-shadow:none;
    				
    				a
    				{
    					color:#014260;
    				}
    			}
    		}
		
		}
	} /*end header banner */	
		
} /*end smallhead*/
		
	
.so-portlet-sites ul.site-list li.social-office-enabled {
    background-image:none !important;
}	
	
html.aui body.signed-in .page-customization-bar	{ /*kann bei gelegenheit wieder eingebledent werden */
	display:none;
}


/* konfigureiren butten voruebergehend ausblenden */

body.signed-in.lfr-has-add-content  #admin li:first-child, body.signed-in.lfr-has-edit-layout #admin li:first-child {
    display: none;
}	
	
/* alert info im contentbereich vorübergehend abblenden */

.aui #content .alert.alert-info {
    background-color: #eee;
    opacity: .3;
}	

.aui #content .portlet-column .alert.alert-info {
    background-color: #fff091;
    opacity: 1;
}


.aui .controls-visible #heading #workspace-control li a.workspace:before {
	content:"\f057" !important;
	display:inline-block;
	font-size:14px;
	color:#014260;
	font-family: FontAwesome;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

