@import "up";
@import "mixins";
@import "compass";

.mobile-only {display:none;}


/* spalten 1/3 und 2/3 */
@media only screen and (max-width: 979px) {

		.aui body.signed-in #content .portlet-column.portlet-column-last {
		float:right;
		}
	
}


@media (max-width: 767px) {
	.aui body.signed-in #content .portlet-column.portlet-column-last {
		float:none;
		}
		
	 .aui [class*="span"], .aui .uneditable-input[class*="span"], .aui .row-fluid [class*="span"] {
	 	width:100% !important;
	 }
	
}

@include respond-to(tablet, phone){
	/* seitenpanel rechts ausblenden/nicht verfügbar */

	.mobile-only 
	{
		display:block;
	}
	
	h3.mobile-only
	{
		color: #003f60;
	    font-weight: normal;
	    font-size: 2em;
	    /* font-size: 3.4rem; */
	    line-height: 1.4em;
	    padding: 0px 0 15px 0;
	    margin: 0;
	}
	
	html.aui body.signed-in .dockbar-split.show-dockbar
	{
	
		margin-right:0;
	}
	
	.hideformobile {
		display:none;
	}
	
	html.aui body.signed-in
	{
	
		#sidebar
		{
			top:-1px;
			
			.title
			{
				height:30px;
			}
			
			border-right:none;	
		}
		#sidebar.show-sidebar 
		{
			
			z-index: 6;
			
			.title 
			{
				left:100%;
				background-color: #d0dae3;
				padding-top: 20px;
				border-bottom: 4px solid #fff;
    			border-right: 4px solid #fff;
    			z-index:8;
    			transition:none;
			
					
			} /*ende .titel */
			
			.content 
			{
				border-right: 4px solid #fff;
			}
		} /* ende #sidebar */
		
		#sidebar:before
		{
			border-right:0px;
			display:none;
		}
		
		#sidebar .title
		{
			-moz-transform:  rotate(0deg);
			-ms-transform:  rotate(0deg);
			-o-transform:  rotate(0deg);
			-webkit-transform:  rotate(0deg);
			transform: rotate(0deg);
			    height: 27px;
   			 padding: 10px;
   			padding: 10px;
   			right: 0;
    		left: 0;
    		top: 0px;
			position: absolute;
			
			cursor: pointer;
			font-weight: bold;
			text-transform:uppercase;
			text-align:center;
			transition:none !important;
			width: 28px;
			border-radius:0;
		
			.arrow
			{
				-moz-transform: rotate(0deg);
				-ms-transform:rotate(0deg);
				-o-transform: rotate(0deg);
				-webkit-transform: rotate(0deg);
				transform:rotate(0deg);
				margin-left:0;
				display:block;
			}
			
			span 
			{
				font-size:0;
			}
			
			span:after {
				    margin-top: 0px;
			}
		
		}/* end sidebar title */
		
		
		#sidebar .title:before, #sidebar .title:after
		{
			display:none;
		}


	

/*begin page */
	
	#wrapper
	{
		overflow: visible;
		width: 100%;
		min-height: 100%;
		position: relative;
		background: $upBgColor;
		
		
	}
		
	.wrapper-portlet-area 
	{
		width:100%;
		margin-top: 47px;
		
		.row-fluid .span4 
		{
			margin-left:0;
		}
		
		#heading 
		{
			display:none;
		}
		
		#left-nav-col {
			margin-left:.6em;
			
			#navigation {
				display:block;
			}
		}
		
		.portlet .portlet-content, .portlet .portlet-topper
		{
			padding:.3em .1em .1em .3em;
		}
		
		/*.aui .portlet-column-content .portlet-body.signed-in .navbar .btn-navbar {
			margin-top:.5em;
		}*/
		
		
		
	}/*ende wrapper portlet area*/
	
	
		
	ul#workspace-control 
	{
		display:none;
	}	
	#up_logo 
	{
		height: 0px;
	    width: auto;
	   
    		
    		img 
    		{
    			display:none;
    		}
    		
    		#up_logo_wrapper {
    			position:fixed;
    			left:0;
    			width:100%;
    		}
    		
    		
    		#up_logo_wrapper #up_logo_title 
    		{
    			float: none;
			    padding-top: 20px;
			    font-size: 1.53333em;
			    line-height: 1.2em;
			    font-family: arial;
			    position: relative;
			    background-color:transparent;
			    margin:0 auto;
			    
			    a 
			    {
			    	display:none;
			    }
			    
			    span.clicker 
			    {
			    	display: none;
				    margin: 20px auto;
				    position: relative;
				    margin-bottom:0;
				    background-color: #d0dae3;
				    /* border: 1px solid red; */
				    height: 30px;
				    cursor: pointer;
				    text-align: left;
    				text-indent: 10px;
    				font-weight: bold;
    				color: #014260;
    				width:95%;
				    
				    span 
				    {
				    	line-height: 30px;
    					font-size: .6em;
				    }
				    
				    span.up-arrow 
				    {
				    
				    	display: inline-block;
					    width: 29px;
					    height: 100%;
					    background-color: red;
					    float: right;
					    background-color: rgba(238, 238, 238, 0.38);
						background-image: url("/so-up-theme/css/../images/up_icons.png");
						background-position: -50px -1228px;
				    }
			    } /*ende clicker */
			    
			    
			    span.clicker.active span.up-arrow
			    {
			    	background-position: -97px -1188px;
			    
			    } 
			    #subnav-mobile 
							{
							    display: block;
   								width: 100%;
    							margin: 0 auto;
   								position: absolute;
    							z-index: 7;
    							background-color:#fff;
    							
					
							
								#navigation2
								{
									display:none;
    								background-color: #fff;
    								width: 100%;
    							
    								.scope-mobile .portlet-boundary_scopenavigation_WAR_scopenavigationportlet_
									{
							
										background-color: #fff;
										padding-bottom: 0;
								
										.portlet-content 
										{
											padding:10px 0 0 0;
								    
											form .control-group 
											{
    											margin-bottom: 0;
    											width: 100%;
    											display: inline-block;
    									
    											text-align:center;
    									
    											label
    											{
    									    		font-size: .6em;
    									    		text-align: left;
   													margin-bottom: 0px;
    												text-indent: 5px;
    											}
    											
    											select 
    											{
    												width: 100%;
    												font-size: .7em;
   													border: 4px solid #d0dae3;
    												margin-bottom: 0;
    											}
    											
    											
    								  								
											} /*ende form */
											
											.taglib-icon-help 
    											{
    												display: none;
												}
									
							     		} /*ende .portlet content */
							
									} /*ende scope mobile */
    								
    								
    								ul 
									{
							
										margin:0;
										margin-bottom:0px;
										background-color:#fff;
										border-width: 0px;
										width:95%;
										margin:0 auto;
    						
							
							
										li {
											width:100%;
											min-height: 40px;
											
												a
												{
												
													color:#014260;
													font-weight: bold;
	    											font-size: .7em;
	    											text-align: left;
	    											display:block;
												
												}
								
												a:hover
												{
													background-color:#d0dae3;
												}
								
												ul
												{
													border:none;
													margin-left: 0px;
													padding-left:20px;
													margin-right:0;
													display:none;
												
													li 
													{
														border-bottom:none;
														a 
														{
															padding-left:2px;
															border-bottom:0;
															color:#555;
															border-bottom: 1px solid #ededed
														}
													}
												
													li:last-child 
													{
														border-bottom:none;
													}
												
												
												} /* ende ul */
										} /* end li*/
							
										li.selected 
										{
										
											a 
											{
												color:#fff;
											}
										
											
											
											ul
											{
												li
												{
													a 
													{
														background-color:transparent;
														color:#555;
													}
												}
												
												li.selected
												{
													a 
													{
														background-color:#ededed;
														color:#555;
													}
													
													
													a:hover 
													{
														background-color:#d0dae3;
														color:#555;
													}
												} /*ende li.selected */
											} /*ende ul */
									
										} /*ende li.selected*/
							
										
										span.delete-tab
										{
											display:none;
										}
										
										li.has-children #up-arrow
										{
										
											display: inline-block;
										    width: 29px;
										    height: 43px;
										    position: absolute;
										    right: 0;
											background-color: rgba(238, 238, 238, 0.38);
											background-image: url("/so-up-theme/css/../images/up_icons.png");
										    background-position: -51px -1183px;
										}
									}/*end ul*/
								}/*end navigation*/
						
							}/*end subnav mobile */
			    
			    
				
				
    		} /*ende logo title */
	} /*ende up logo */
			
	header#banner
	{
		min-height: 10px;
		height:auto;
    	position: fixed;
    	top: 0;
    	width: 100%;
    	z-index: 5;
   		background-color: #d0dae3;
    	
    	box-sizing:border-box;
    	padding-left:40px;
    	
		#up_section_indicator
		{
			visibility:hidden;
		}
		
		#uppertoolbar 
		{
			height: 47px;
    		z-index: 3;
    		width: auto;
    		height: 47px;
   			float:right;
   			position:relative;
   			margin-top:-20px;
   				
    		#position-wrapper
			{
			 	
			 	height: 47px;
			 	width:auto;
			 	margin:0;
    			
				
				/*ab hier dockbar*/
				#p_p_id_145_ 
				{
					min-width: auto;	
					width:auto;
					
    				#_145_dockbar /*.navbar*/
    				{
    					.navbar-inner 
						{
						
								
							.container
							{
								width:auto;
								
								a#_145_navSiteNavigationNavbarBtn, a#_145_navAddControlsNavbarBtn 
								{
									display:none;
								}
				
								ul#_145_navAccountControls.nav-account-controls /*das hier ist die blaue toolbar ganz oben */
								{
									li
									{
										border-right:1px solid #B3BFCA;
									
										a.user-notification-link
										{
											span.user-notifications-count
											{
												margin:0;
												height:47px !important;
											}
										
										} /*ende a.user-no....*/
										
										ul li 
										{
											border-right:none;
										}	
									 } /*ende li */	
									 
									 li.dockbar-user-notifications
									 {
									 	border-left:1px solid #B3BFCA;
									 	
									 	.dockbar-user-notifications-container.open 
									 	{
									 		ul.dropdown-menu
									 		{
									 			width:360px;
									 			
									 			div 
									 			{
									 				li.user-notification 
									 				{
									 					padding: 0.26667em 0.66667em;
									 				}
									 			}
									 			
									 			
									 		}
									 	}
									 }
									
									li.user-avatar
									{
										
											a.user-avatar-link
											{
												max-height:46px !important;
												width:47px;
											
												span
												{
											
													display:none;
												}
							
											} /*end a */
											
											.dropdown-menu 
											{
												margin-top:5px !important;
												
												
												span.badge.site-type 
												{
													background-color:#014260;
													color:#fff !important;
												}
												
											}
										} /*ende li.user... */
										
										li.user-avatar.open
										{
											border-bottom:5px solid #d0dae3;
										}
										
									} /*ende ul#145..*/
										
										
										
									
								
					
									#_145_navAddControlsNavbarCollapse /*seitenpanel ?*/
									{
										position: absolute;
										right: 0px;
										
										ul
										{
											padding-top:60px;
										}
					
										
									}/*end 145 Navbar Collapse */
									
									#_145_navAccountControls 
									{
										span.user-notifications-count 
										{
											height:47px;
										}
									}
									
								}/*end .container*/	
							}/*end navbar.inner */
						} /* end #_145_dockbar */	
					} /*end ppid*/ 
				 	 
				 	 				 	 
				 	 #globalsearch
				 	 {
				 	 	height: 46px;
				 	 	min-width:47px;
				 	 	margin-left:0;
				 		margin-right:0;
    					
    					form
    					{
    						
    					  						
    						
    						input[type="text"]:focus, input[type="text"]:active
    						{
    							
    							width: 250px;
    							position: fixed;
    							height: 47px;
    							right:150px;
    							
    						}
    						
    						
						}
    					
    						
				 	 }/*ende globalsearch*/
				 	
				 	 #languageselect
    			 	 {
    			 	    width: 47px;
    					height: 47px;
    					overflow:hidden;
    					margin-left:0;
				 		margin-right:0;
   						
   						
   						#p_p_id_82_
   						{
   							padding:0;
   							margin:0;
   							
   							#portlet_82
   							{
   								border:none;
   								border-bottom:none !important;
							}
							
							.portlet-borderless-container .portlet-body.signed-in form .control-group select
							{
								background-color:#d0dae3;
								height: 47px;
							    border: none;
							    border-left: 1px solid #B3BFCA;
								
								
							}
   							
   						}
    			 
    			 	 } /*ende languageselect*/
    			
    								
				}/*end pos wrapper */
				
			} /*end upper toolbar */
			
			
	#navigation-wrapper
		{
			    width: 102px;
    			position: relative;
    			float: right;
    			margin-top: -20px;
    			height: 47px;
    			z-index: 2;
    			top: 0;
    			
   
			
			.btn-toolbar
			{
				width:100%;
				margin:0;
				height:47px;
				display:block;
				
				.btn-group
				{
					    float: right;
   						background: #d0dae3;
    					margin-left: 0;
    					font-size: 1em;
    					width: 50px;
    					display: block;
    					height: 47px;
    					border-right: 1px solid #B3BFCA;
    				
    				a
    				{
    					    height: 47px;
    					    font-size:0;
    					    margin-top:0;
    					    padding:0;
    					    width:50px;
    					    height:47px;
    					    -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
    						-moz-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
    						box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
    					    
    					    span {
    					    	display:none;
    					    }
    					    
    					    
    				}
    				
    				a.services:after
					{
						content:"UP";
						
						display: inline-block;
						margin-top:15px;
						color:#014260;
						font-weight:bold;
						font-size: 25px
					}
				
					a.help:after
					{
						content: "\f1cd";
    					font-family: FontAwesome;
    					font-size: 20px;
						color:#014260;
						display: inline-block;
						margin-top:15px;
						font-style: normal;
						font-variant: normal;
						ont-weight: normal;
						
					}
					
					.dropdown-menu
					{
					
						border-right: 1px solid #fff;
    					border-bottom: 1px solid #fff;
    					margin-top:4px;
					}
					
					
					.dropdown-menu li
					{
					    font-size: 0.9em;
					    text-align: left;
					    cursor: pointer;
					    
					    a
					    {
					    	font-size: 1.5em;
						    height: 100%;
						    width: 80%;
						    margin: 0 auto;
						    padding: 0.26667em 0.66667em;
						    border-bottom: 1px solid #e2e9ee;
					    }
					}
    				
    								
				}
				
				.btn-group.open
				{
					a 
					{
						    border-bottom:4px solid #d0dae3;
						    box-sizing:content-box;
					}
				
				} 
			}
		}
		
		#main-menu-wrapper 
		{
			position:relative;
			padding-right:310px;
			    margin-left: 8px;
			background-color:#d0dae3;
			margin-top:-46px;
				transition: background-color .7s ease-in-out;
			
			
		
			ul#main-menu
			{	    
				
   				
   				
    			margin: 0;
    			width:auto;
    			height:47px;
    			min-width: 130px;
    			border-bottom: 1px solid #ededed;
    			background-color:#fff;
	
				
				li
				{
					  
					padding-bottom:10px;
					padding-top:10px;
					line-height: .5em;
					height:47px; 
					min-width: 40px;
    				font-size:85%;
    			     width: 33.3%; 
    				
					ul
					{
						transition: height .2s ease-in;
						font-size: 120%;
						height:210px;
						
					 	li
						{
							padding-bottom:3px;
							padding-top:3px;
							width:100%;
						}
					}
				 } /*ende li */
				 
				 
				 span.icon.close
				 {
				  	right:80px
				 
				 }
				 
			} /* ende main menu */
			
			#main-menu.open
		
			{
			
				height:100% !important;
				
				li
				{
					height:auto;
					line-height:20px;
				}
				
				li:hover
				{
					background: $upDarkBlue;
					color: $upWhite;
				
					.icon.arrow
					{
						background-position: -136px -126px;
					}
				
					ul
					{
						background: $upDarkBlue;
					
						li
						{
							background: $upDarkBlue;
							color: $upWhite;
							font-size: 0.9em;
							border-bottom: 1px solid #598497;
							width:100%;
						
							a
							{
								color: $upWhite;
								-webkit-transition: background-color 0.2s ease-out;
    							transition: background-color 0.2s ease-out;
    							
							}
						}	
						
						li:hover 
						{
							background-color: #598497;
						}
					}
				}/*end hover*/
			}/*end main menu open*/	
			
			
		}/*end main menu wrapper */
		
		nav#breadcrumbs
		{
			display:none;
			margin-left:-40px;
      		  	
    		.breadcrumb
    		{
    			
    			margin: 0px ;
    			padding: 5px 0px 5px 5px;
    			background-color: #ededed;
    			text-align:left;
    			
    			li, li.active
    			{
    				text-shadow:none;
    				
    				a
    				{
    					color:#014260;
    				}
    			}
    		}
		
		}
	} /*end header banner */	
		
} /*end smallhead*/
	

} /*ende mobile rule */
	
@media (max-width: 800px) {
	
	
	html.aui body.signed-in .wrapper-portlet-area {
		margin-top:47px;
	}
	
	html.aui body.signed-in header#banner #main-menu-wrapper #main-menu.open li ul li {
    width: 100%;
	}
	
	
	html.aui body.signed-in .container-fluid#wrapper div#content  {
		width: 100%;
	    margin-left: 0;
	    margin: 0;
	}
	
	html.aui body.signed-in #up_logo #up_logo_wrapper #up_logo_title span.clicker {
		display:block;
	}
	
	html.aui body.signed-in #up_logo #up_logo_wrapper #up_logo_title #subnav-mobile #navigation2 {
		display:block;
	}
	
}	
	

@media (max-width: 650px) {
	
		html.aui body.signed-in #sidebar {
			
		}
		
		html.aui body.signed-in #sidebar .title {
			    height: 27px;
		}
		
		html.aui body.signed-in #sidebar .title .arrow {
			margin:0 auto;
		}
		
		html.aui body.signed-in #sidebar.show-sidebar {
			    height: 100%;
		}
		
		html.aui body.signed-in #sidebar.show-sidebar .title {
			width:40px;
			margin-top:0;
		}
		
		html.aui body.signed-in #sidebar.show-sidebar .title span:after {
			margin-top:0;
		}
		
		html.aui body.signed-in #sidebar.show-sidebar .title .arrow {
			margin-left:0;
		}
		
		html.aui body.signed-in header#banner {
			background-color:#ededed;
			padding-left:0;
		}
	
		html.aui body.signed-in header#banner #uppertoolbar {
			float:none;
			padding-left:0;
		}
		
		html.aui body.signed-in header#banner #uppertoolbar {
			float:left;
		}
		
		 html.aui body.signed-in header#banner #uppertoolbar #position-wrapper #globalsearch input[type="text"].focus:focus
		{

			right:0;
			z-index:20000;
			width:73%;

		}
		 /*muss das weg*/
		
		html.aui body.signed-in header#banner #navigation-wrapper {
			margin-top:-50px;
		}
		
		html.aui body.signed-in header#banner #main-menu-wrapper {
			padding-right:0;
			margin-top:0;
			width:auto;
			padding-left:47px;
			background-color:#fff;
		}
		
		html.aui body.signed-in header#banner #uppertoolbar #position-wrapper #languageselect #p_p_id_82_ .portlet-borderless-container .portlet-body.signed-in form .control-group select {
			backrgound-color:#ededed;
		}
		
		html.aui body.signed-in header#banner #main-menu-wrapper ul#main-menu {
			
			
			min-width: 257px;
		}
		
		.aui .dockbar-split .dockbar .navbar-inner .nav > li, 
		.aui .navbar .nav > li > a.dropdown-toggle,
		.aui .dockbar-split .dockbar .navbar-inner .nav > li,
		html.aui body.signed-in header#banner #uppertoolbar #position-wrapper #languageselect #p_p_id_82_ .portlet-borderless-container .portlet-body.signed-in form .control-group select,
		html.aui body.signed-in header#banner #uppertoolbar #position-wrapper #globalsearch form input[type="text"],
		.aui .dockbar-split .dockbar .navbar-inner .nav > li,
		html.aui body.signed-in header#banner #navigation-wrapper .btn-toolbar .btn-group,
		html.aui body.signed-in header#banner #navigation-wrapper .btn-toolbar .btn-group .aui .btn,
		html.aui body.signed-in header#banner #navigation-wrapper .btn-toolbar .btn-group a,
		.aui .dockbar-split .dockbar .navbar-inner .nav > li
		 {
			background-color:#ededed !important;
		}
		
		
		html.aui body.signed-in header#banner nav#breadcrumbs {
			margin-left:0;
			text-align:left;
		}
		
		
		html.aui body.signed-in header#banner #main-menu-wrapper ul#main-menu li {
			font-size:90%;
		}
		
		html.aui body.signed-in #up_logo #up_logo_wrapper #up_logo_title span.clicker {
			margin-top:40px;
		}
		
		html.aui body.signed-in .wrapper-portlet-area {
    
    		margin-top: 76px;
		}
		
		
	
} /* end max width 540 */
				
@media (max-width: 727px) and (min-width:651px) {		
	html.aui body.signed-in header#banner #main-menu-wrapper ul#main-menu li {
		text-indent:-50000px;
		
	}
	
	
	html.aui body.signed-in header#banner #main-menu-wrapper ul#main-menu li ul li {
		text-indent:0px;
		
	}
	
	html.aui body.signed-in #main-menu-wrapper ul#main-menu li:nth-of-type(1):before {
			 background-image: url("/so-up-theme/css/../images/ple-icons.png") !important;
    		 background-position:1px -138px;
    		 background-repeat:no-repeat;
    		 content: ".";
		     display: block;
		     width: 23px;
		     height: 26px;
		     float: left;
		     margin-left: 30%;
	}
	
	html.aui body.signed-in #main-menu-wrapper ul#main-menu li:hover:nth-of-type(1):before {
		 background-position:-58px -138px;
	}
	
	html.aui body.signed-in #main-menu-wrapper ul#main-menu li:nth-of-type(2):before {
			 background-image: url("/so-up-theme/css/../images/ple-icons.png") !important;
    		 background-position:-1px -184px;
    		 background-repeat:no-repeat;
    		 content: ".";
		     display: block;
		     width: 20px;
		    height: 27px;
		    margin-left: 34%;
		    float:left;
	}
	
	html.aui body.signed-in #main-menu-wrapper ul#main-menu li:hover:nth-of-type(2):before {
		background-position:-61px -184px;
	}
	
	html.aui body.signed-in #main-menu-wrapper ul#main-menu li:nth-of-type(3):before {
			 background-image: url("/so-up-theme/css/../images/ple-icons.png") !important;
    		 background-position:0px -233px;
    		 background-repeat:no-repeat;
    		 content: ".";
		     display: block;
		    width: 25px;
    		height: 25px;
    		margin-left: 32%;
		     float: left;
		    
	}
	
	html.aui body.signed-in #main-menu-wrapper ul#main-menu li:hover:nth-of-type(3):before {
		background-position:-60px -232px;
	}
	
	html.aui body.signed-in #main-menu-wrapper ul#main-menu li:nth-of-type(1) ul li:before,
	html.aui body.signed-in #main-menu-wrapper ul#main-menu li:nth-of-type(2) ul li:before,
	html.aui body.signed-in #main-menu-wrapper ul#main-menu li:nth-of-type(3) ul li:before
	{
		display:none;
	}
}



@media (max-width: 651px) {
	
	html.aui body.signed-in #sidebar {
    margin-top: 0;
    width:26%;
    height:31px;
    background-color:#d0dae3;
    border-right:1px solid #fff;
	}
	
	html.aui body.signed-in #sidebar .title {
	    margin-top: 2px;
	    padding: 0;
	    width: 100%;
	    text-align:center;
	  
	}	
	
	html.aui body.signed-in header#banner {
	    background-color: transparent;
	    padding-left: 0px;
	}
	
	html.aui body.signed-in header#banner #uppertoolbar {
		height:30px;
		width:75%;
		margin-left: 25%;
	}
	
	
	html.aui body.signed-in header#banner #uppertoolbar #position-wrapper {
		
		height:30px;
		width:100%;
		padding-left: 0;
		
  
	}
	
	html.aui body.signed-in header#banner #uppertoolbar #position-wrapper #p_p_id_145_ {
		width:66%;
		float:right;
	}
	
	html.aui body.signed-in header#banner #uppertoolbar #position-wrapper #p_p_id_145_ #_145_dockbar {
    	width: 100%;
	}
	
	html.aui body.signed-in header#banner #uppertoolbar #position-wrapper #p_p_id_145_ #_145_dockbar .navbar-inner .container ul#_145_navAccountControls.nav-account-controls li {
    	width: 50%;
    	margin-right: 0;
        box-sizing: border-box;
    	border-right: 1px solid #fff;
	}
	
	html.aui body.signed-in header#banner #uppertoolbar #position-wrapper #p_p_id_145_ #_145_dockbar .navbar-inner .container ul#_145_navAccountControls.nav-account-controls li.user-notification {
    	width: 100%; /* muss hier important **/
	}
	
	.aui .dockbar-split .dockbar .navbar-inner .nav > li > a.user-notification-link {
		width:100% !important;
	}
	
	html.aui body.signed-in header#banner #uppertoolbar #position-wrapper #p_p_id_145_ #_145_dockbar .navbar-inner .container ul#_145_navAccountControls.nav-account-controls li a.user-notification-link span.user-notifications-count {
		padding:0;
		text-indent: 20%;
	}
	
	html.aui body.signed-in header#banner #uppertoolbar #position-wrapper #p_p_id_145_ #_145_dockbar .navbar-inner .container ul#_145_navAccountControls.nav-account-controls li a.user-avatar-link {
		width: 100% !important;
	}
	
	
	html.aui body.signed-in header#banner #uppertoolbar #position-wrapper #p_p_id_145_ #_145_dockbar .navbar-inner .container ul#_145_navAccountControls.nav-account-controls li.dockbar-user-notifications a.user-notification-link:after {
   
	    left: 30%;
	   
	    top: 6px;
	}
	
	.aui .user-avatar .icon-caret-down:before {
		margin-top:7px !important;
	}
	
	html.aui body.signed-in header#banner #uppertoolbar #position-wrapper #languageselect {
		display:none;
	}
	
	html.aui body.signed-in header#banner #uppertoolbar #position-wrapper #globalsearch {
    	height: 30px;
    	min-width:33%;
    	float:none;
    	margin-left: 1%;
	    box-sizing: border-box;
	    border-right: 1px solid #fff;
	}
	
	html.aui body.signed-in header#banner #uppertoolbar #position-wrapper #globalsearch form input[type="text"] {
		width:auto;
		height:30px;
		background-position: center;
		background-image: url('/so-up-theme/css/../images/search.png') !important; 
	}
	
	.aui .dockbar-split .dockbar .navbar-inner .nav > li, 
	.aui .navbar .nav > li > a.dropdown-toggle,
	.aui .dockbar-split .dockbar .navbar-inner .nav > li,
	html.aui body.signed-in header#banner #uppertoolbar #position-wrapper #languageselect #p_p_id_82_ .portlet-borderless-container .portlet-body.signed-in form .control-group select,
	html.aui body.signed-in header#banner #uppertoolbar #position-wrapper #globalsearch form input[type="text"],
	.aui .dockbar-split .dockbar .navbar-inner .nav > li,
	html.aui body.signed-in header#banner #navigation-wrapper .btn-toolbar .btn-group,
	html.aui body.signed-in header#banner #navigation-wrapper .btn-toolbar .btn-group .aui .btn,
	html.aui body.signed-in header#banner #navigation-wrapper .btn-toolbar .btn-group a,
	.aui .dockbar-split .dockbar .navbar-inner .nav > li{
		background-color:#d0dae3 !important;
	}
	
	
	
	html.aui body.signed-in header#banner #navigation-wrapper {
		display:none;
	}
	
	html.aui body.signed-in header#banner #uppertoolbar #position-wrapper #p_p_id_145_ #_145_dockbar .navbar-inner .container ul#_145_navAccountControls.nav-account-controls li a.user-notification-link span.user-notifications-count,
	html.aui body.signed-in header#banner #uppertoolbar #position-wrapper #p_p_id_145_ #_145_dockbar .navbar-inner .container ul#_145_navAccountControls.nav-account-controls li a.user-avatar-link
	 {
		height:30px !important;
	}
	
	
	
	
	html.aui body.signed-in header#banner #main-menu-wrapper {
		padding-left:0;
		margin-left:0;
	}
	
	
	html.aui body.signed-in .wrapper-portlet-area #content 
		 {
			width: 95%;
    		margin: 0 auto;
		}

}

@media (max-width: 400px) {
	
		html.aui body.signed-in #main-menu-wrapper ul#main-menu li:nth-of-type(1):before {
			 background-image: url("/so-up-theme/css/../images/ple-icons.png") !important;
    		 background-position:1px -138px;
    		 background-repeat:no-repeat;
    		 content: ".";
		     display: block;
		     width: 23px;
		     height: 26px;
		     float: left;
		     margin-left: 30%;
	}
	
	html.aui body.signed-in #main-menu-wrapper ul#main-menu li:nth-of-type(2):before {
			 background-image: url("/so-up-theme/css/../images/ple-icons.png") !important;
    		 background-position:-1px -184px;
    		 background-repeat:no-repeat;
    		 content: ".";
		     display: block;
		     width: 20px;
		    height: 27px;
		    margin-left: 34%;
		    float:left;
	}
	
	html.aui body.signed-in #main-menu-wrapper ul#main-menu li:nth-of-type(3):before {
			 background-image: url("/so-up-theme/css/../images/ple-icons.png") !important;
    		 background-position:0px -233px;
    		 background-repeat:no-repeat;
    		 content: ".";
		     display: block;
		    width: 25px;
    		height: 25px;
    		margin-left: 32%;
		     float: left;
		    
	}
	
	html.aui body.signed-in header#banner #main-menu-wrapper ul#main-menu li {
		font-size:0px;
	}
	
	html.aui body.signed-in #main-menu-wrapper ul#main-menu li ul li:nth-of-type(1):before,
	html.aui body.signed-in #main-menu-wrapper ul#main-menu li ul li:nth-of-type(2):before,
	html.aui body.signed-in #main-menu-wrapper ul#main-menu li ul li:nth-of-type(3):before
	{
		
		display:none;
		
	}
	
	html.aui body.signed-in #main-menu-wrapper ul#main-menu li ul li a
	{
		font-size:12px;
	}
	
	.aui .portlet-dockbar .dockbar .navbar-inner .container .dockbar-user-notifications .dropdown-menu {
		width:100%;
	}
	
	
}
			