.portlet-boundary.portlet-boundary_scopenavigation_WAR_scopenavigationportlet_ {
	margin-bottom:0;
	
}

.portlet-boundary.portlet-boundary_scopenavigation_WAR_scopenavigationportlet_ #portlet_scopenavigation_WAR_scopenavigationportlet {
	border: none;
    border-bottom: none !important;
}

#portlet_scopenavigation_WAR_scopenavigationportlet .portlet-content {
	    background-color: #fff;
    color: #014260;
    padding:1em .3em 1em .3em;
    border: 2px solid  #d0dae3;
    text-align: center;
    font-weight: bold;
	
}

#portlet_scopenavigation_WAR_scopenavigationportlet form {
    margin-bottom: 0;
}

#portlet_scopenavigation_WAR_scopenavigationportlet form .control-group {
	margin-bottom: 0;
    width: 100%;
    display: inline-block;
    margin-right: 20px;
}

#portlet_scopenavigation_WAR_scopenavigationportlet form .control-group label {
    color: #014260;
}


.aui .wrapper-portlet-area #portlet_scopenavigation_WAR_scopenavigationportlet form .control-group select.aui-field-select {
	    width: 100%;
	        border-color: #014260;
    border-width: 1px;
    font-weight: bold;
    color: #014260;
}

#portlet_scopenavigation_WAR_scopenavigationportlet form .taglib-icon-help {
	display:inline;
}

.aui .portlet-topper-toolbar#portlet-topper-toolbar_scopenavigation_WAR_scopenavigationportlet .btn-group {
	display:none;
}


option.private:before {
	content:"dsahjds";
	
}


a#_scopenavigation_WAR_scopenavigationportlet_siteMembershipLink {
	    background-color: #d0dae3;
    width: 100%;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align:center;
    font-weight:bold;
}

