Liebe/r [$TO_NAME$],<br /><br />

[$USER_NAME$] hat die Seite [$CUSTOM_PAGE_NAME$] gel&ouml;scht.<br />
<br/>
&Uuml;bersicht &uuml;ber die von Ihnen freigegebenen und eingereichten Seiten (Seitenverwaltung) <a href="[$PAGEMANAGEMENT_URL$]">hier</a> auf Campus.UP ansehen.<br /><br />

-<br />
Wenn Sie Benachrichtigungen wie diese nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um Ihre Benachrichtigungseinstellungen zu &auml;ndern.  