Dear [$TO_NAME$],<br /><br />

[$USER_NAME$] has submitted a page to you (page remains locked until released):<br />
<a href="[$CUSTOM_PAGE_URL$]">[$CUSTOM_PAGE_NAME$]</a><br/>
This page cannot be edited until you release it by clicking on the button &quot;Release page&quot; in the page management section on Campus.UP.<br />
See overview of pages shared and submitted by you (page management) <a href="[$PAGEMANAGEMENT_URL$]">here</a> on Campus.UP<br /><br />

-<br />
If you don't want to receive notifications like this, click <a href="[$CONFIG_URL$]">here</a> to change your settings.