Liebe/r [$TO_NAME$],<br /><br />

[$USER_NAME$] hat die Freigabe der Seite [$CUSTOM_PAGE_NAME$] entfernt.<br />
<br/>
Seitenverwaltung <a href="[$PAGEMANAGEMENT_URL$]">hier</a> auf Campus.UP ansehen.<br /><br />

-<br />
Wenn Sie diese Benachrichtigung nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um zu den Einstellungen zu gelangen.  