Seitenverwaltung>[$CUSTOM_PAGE_NAME$]<br /><br />

Liebe/r [$TO_NAME$],<br /><br />

[$USER_NAME$] hat Feedback zu Ihrer eingereichten Seite gegeben:<br />
<a href="[$CUSTOM_PAGE_URL$]">[$CUSTOM_PAGE_NAME$]</a><br />
Seitenverwaltung <a href="[$PAGEMANAGEMENT_URL$]">hier</a> auf Campus.UP ansehen.<br /><br />

-<br />
Wenn Sie diese Benachrichtigung nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um zu den Einstellungen zu gelangen.  