Liebe/r [$TO_NAME$],<br /><br />

[$USER_NAME$] hat folgende Seite f&uuml;r Sie freigegeben:
<hr>
<p>
<a href="[$CUSTOM_PAGE_URL$]">[$CUSTOM_PAGE_NAME$]</a>
</p>
<hr>
<br/>
&Uuml;bersicht &uuml;ber die von Ihnen freigegebenen und eingereichten Seiten (Seitenverwaltung) <a href="[$PAGEMANAGEMENT_URL$]">hier</a> auf Campus.UP ansehen.<br /><br />

<hr style="width: 43%;float: left;">
<br/>
<div style="font-size: small">	
Wenn Sie Benachrichtigungen wie diese nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um Ihre Benachrichtigungseinstellungen zu &auml;ndern.    	
</div>	    