Dear [$TO_NAME$],<br /><br />

[$USER_NAME$] shared a page with you:<br />
<a href="[$CUSTOM_PAGE_URL$]">[$CUSTOM_PAGE_NAME$]</a><br /><br/>
View page management section <a href="[$PAGEMANAGEMENT_URL$]">here</a> on Campus.UP<br /><br />

-<br />
If you don't want to receive this notification, click <a href="[$CONFIG_URL$]">here</a>, to change your settings.