Dear [$TO_NAME$],<br /><br />

[$USER_NAME$] deleted the share of page [$CUSTOM_PAGE_NAME$].<br />
<br/>
View page management section <a href="[$PAGEMANAGEMENT_URL$]">here</a> on Campus.UP<br /><br />

-<br />
If you don't want to receive this notification, click <a href="[$CONFIG_URL$]">here</a>, to change your settings.