Liebe/r [$TO_NAME$],<br /><br />

[$USER_NAME$] hat eine Seite f&uuml;r Sie zur Beurteilung eingereicht:<br />
<a href="[$CUSTOM_PAGE_URL$]">[$CUSTOM_PAGE_NAME$]</a><br /><br/>
&Uuml;bersicht &uuml;ber die von Ihnen freigegebenen und eingereichten Seiten (Seitenverwaltung) <a href="[$PAGEMANAGEMENT_URL$]">hier</a> auf Campus.UP ansehen.<br/>
Die Seite kann so lange nicht bearbeitet werden bis Sie sie durch Klick auf den Button &bdquo;Seite zur&uuml;ckgeben&ldquo; in der Seitenverwaltung auf Campus.UP wieder freigeben.<br /><br />

-<br />
Wenn Sie Benachrichtigungen wie diese nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um Ihre Benachrichtigungseinstellungen zu &auml;ndern.  