Dear [$TO_NAME$],<br /><br />

[$USER_NAME$] has shared the following page with you:<br />
<a href="[$CUSTOM_PAGE_URL$]">[$CUSTOM_PAGE_NAME$]</a><br /><br/>
See overview of pages shared and submitted by you (page management) <a href="[$PAGEMANAGEMENT_URL$]">here</a> on Campus.UP<br /><br />

-<br />
If you don't want to receive notifications like this, click <a href="[$CONFIG_URL$]">here</a> to change your settings.