Dear [$TO_NAME$],<br /><br />

[$USER_NAME$] deleted the submitted page [$CUSTOM_PAGE_NAME$].<br />
<br/>
See overview of pages shared and submitted by you (page management) <a href="[$PAGEMANAGEMENT_URL$]">here</a> on Campus.UP<br /><br />

-<br />
If you don't want to receive notifications like this, click <a href="[$CONFIG_URL$]">here</a> to change your settings.