Dear [$TO_NAME$],<br /><br />

[$USER_NAME$] deleted the shared page [$CUSTOM_PAGE_NAME$].
<hr>
<br/>
See overview of pages shared and submitted by you (page management) <a href="[$PAGEMANAGEMENT_URL$]">here</a> on Campus.UP<br /><br />

<hr style="width: 43%;float: left;">
<br/>
<div style="font-size: small">	
If you don't want to receive notifications like this, click <a href="[$CONFIG_URL$]">here</a> to change your settings.	
</div>	