Dear [$TO_NAME$],<br /><br />

[$ARTICLE_USER_NAME$] has added or updated an Image-Text-Editor:
<hr>
<p>
[$ARTICLE_CONTENT$]
</p>
<hr>
<br />
View entry <a href="[$ARTICLE_URL$]">here</a> on Campus.UP<br /><br />

<hr style="width: 43%;float: left;">
<br/>
<div style="font-size: small">	
If you don't want to receive notifications like this, click <a href="[$CONFIG_URL$]">here</a> to change your settings.	
</div>	