Dear [$TO_NAME$],<br /><br />

[$ARTICLE_USER_NAME$] has added or updated a Text-Image Editor:<br />
[$ARTICLE_CONTENT$]<br />
View entry <a href="[$ARTICLE_URL$]">here</a> on Campus.UP<br /><br />

-<br />
If you don't want to receive notifications like this, click <a href="[$CONFIG_URL$]">here</a> to change your settings.