Dear [$TO_NAME$],<br /><br />

[$USER_NAME$] made changes to a file:<br />
[$CONTENT$]<br />
View file <a href="[$ENTRY_URL$]">here</a> on Campus.UP<br /><br />

-<br />
If you don't want to receive notifications like this, click <a href="[$CONFIG_URL$]">here</a> to change your settings.