Liebe/r [$TO_NAME$],<br /><br />

[$USER_NAME$] hat eine neue Datei hochgeladen:
<hr>
<p>
[$CONTENT$]
</p>
<hr>
<br />
Datei <a href="[$ENTRY_URL$]">hier</a> auf Campus.UP ansehen.<br /><br />

<hr style="width: 43%;float: left;">
<br/>
<div style="font-size: small">	
Wenn Sie Benachrichtigungen wie diese nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um Ihre Benachrichtigungseinstellungen zu &auml;ndern.    	
</div>	