Dear [$TO_NAME$],<br /><br />

[$USER_NAME$] would like to add you as a connection.<br />
View request <a href="[$REQUEST_URL$]">here</a> on Campus.UP<br /><br />

-<br />
Don't want to receive this notification, click <a href="[$CONFIG_URL$]">here</a>, to change your settings.