Dear [$TO_NAME$],<br /><br />

[$USER_NAME$] would like to add you as a connection.
<hr>
<br/>
View request <a href="[$REQUEST_URL$]">here</a> on Campus.UP<br /><br />

<hr style="width: 43%;float: left;">
<br/>
<div style="font-size: small">	
If you don't want to receive notifications like this, click <a href="[$CONFIG_URL$]">here</a> to change your settings.	
</div>	