Liebe/r [$TO_NAME$],<br /><br />

[$TASKS_ENTRY_USER_NAME$] hat eine Aufgabe gel&ouml;st:<br />
[$TASKS_CONTENT$]<br />
Aufgabe <a href="[$TASKS_ENTRY_URL$]">hier</a> auf Campus.UP ansehen.<br /><br />

-<br />
Wenn Sie Benachrichtigungen wie diese nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um Ihre Benachrichtigungseinstellungen zu &auml;ndern.  