Liebe/r [$TO_NAME$],<br /><br />

[$TASKS_ENTRY_USER_NAME$] hat eine Aufgabe aktualisiert:<br />
[$TASKS_CONTENT$]<br />
Aufgabe <a href="[$TASKS_ENTRY_URL$]">hier</a> auf Campus.UP ansehen.<br /><br />

-<br />
Wenn Sie diese Benachrichtigung nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um zu den Einstellungen zu gelangen.  