Dear [$TO_NAME$],<br /><br />

[$TASKS_ENTRY_USER_NAME$] assigned you a new task:<br />
[$TASKS_CONTENT$]<br />
View entry <a href="[$TASKS_ENTRY_URL$]">here</a> on Campus.UP<br /><br />

-<br />
Don't want to receive this notification, click <a href="[$CONFIG_URL$]">here</a>, to change your settings.