Liebe/r [$TO_NAME$],<br /><br />

[$TASKS_ENTRY_USER_NAME$] hat eine Aufgabe ge&auml;ndert:
<hr>
<p>
[$TASKS_CONTENT$]
</p>
<hr>
<br />
Aufgabe <a href="[$TASKS_ENTRY_URL$]">hier</a> auf Campus.UP ansehen.<br /><br />

<hr style="width: 43%;float: left;">
<br/>
<div style="font-size: small">	
Wenn Sie Benachrichtigungen wie diese nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um Ihre Benachrichtigungseinstellungen zu &auml;ndern.    	
</div>	  