[$WORKSPACE_NAME$]>Schwarzes Brett<br /><br />

Liebe/r [$TO_NAME$],<br /><br />

[$ENTRY_USER_NAME$] hat folgenden Beitrag zum &bdquo;Schwarzen Brett&ldquo; hinzugef&uuml;gt:<br />
[$ENTRY_CONTENT$]<br />
Beitrag <a href="[$ENTRY_URL$]">hier</a> auf Campus.UP ansehen.<br /><br />

-<br />
Wenn Sie diese Benachrichtigung nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um zu den Einstellungen zu gelangen.  