[$WORKSPACE_NAME$]>Announcements<br /><br />

Dear [$TO_NAME$],<br /><br />

[$ENTRY_USER_NAME$] added a new announcement:<br />
[$ENTRY_CONTENT$]<br />
View entry <a href="[$ENTRY_URL$]">here</a> on Campus.UP<br /><br />

-<br />
Don't want to receive this notification, click <a href="[$CONFIG_URL$]">here</a>, to change your settings.