Dear [$TO_NAME$],<br /><br />

[$ENTRY_USER_NAME$] added the following message to the announcement board:
<hr>
<p>
[$ENTRY_CONTENT$]
</p>
<hr>
<br />
View entry <a href="[$ENTRY_URL$]">here</a> on Campus.UP<br /><br />

<hr style="width: 43%;float: left;">
<br/>
<div style="font-size: small">	
If you don't want to receive notifications like this, click <a href="[$CONFIG_URL$]">here</a> to change your settings.	
</div>	