Dear [$TO_NAME$],<br /><br />

[$BOOKMARKS_ENTRY_USER_NAME$] updated a bookmarks entry:<br />
[$BOOKMARKS_ENTRY_CONTENT$]<br />
View entry <a href="[$BOOKMARKS_ENTRY_URL$]">here</a> on Campus.UP.<br /><br />

-<br />
If you don't want to receive this notification, click <a href="[$CONFIG_URL$]">here</a>, to change your settings.