Liebe/r [$TO_NAME$],<br /><br />

[$BOOKMARKS_ENTRY_USER_NAME$] hat ein neues Lesezeichen hinzugef&uuml;gt:<br />
[$BOOKMARKS_ENTRY_CONTENT$]<br />
Lesezeichen <a href="[$BOOKMARKS_ENTRY_URL$]">hier</a> auf Campus.UP ansehen.<br /><br />

-<br />
Wenn Sie Benachrichtigungen wie diese nicht mehr erhalten möchten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um Ihre Benachrichtigungseinstellungen zu ändern.    