Dear [$TO_NAME$],<br /><br />

[$BOOKMARKS_ENTRY_USER_NAME$] updated a bookmark:
<hr>
<p>
[$BOOKMARKS_ENTRY_CONTENT$]
</p>
<hr>
<br />
View bookmark <a href="[$BOOKMARKS_ENTRY_URL$]">here</a> on Campus.UP.<br /><br />

<hr style="width: 43%;float: left;">
<br/>
<div style="font-size: small">	
If you don't want to receive notifications like this, click <a href="[$CONFIG_URL$]">here</a> to change your settings.	
</div>	