
#set ($default_user_profile_portrait_url = $theme_display.getDefaultUser().getPortraitURL($themeDisplay))
#set ($is_profile_page = false)
#set ($so_logo = $images_folder + "/custom/so_logo.png")
#set ($user_dashboard_portlet_url = $site_default_url)
#set ($user_dashboard_url = $site_default_url)
#set ($user_local_service = $serviceLocator.findService("com.liferay.portal.service.UserLocalService"))
#set ($user_profile_url = $community_default_public_url)

#set ($current_user = $user_local_service.getUserById($page_group.getClassPK()))

#if ($is_signed_in)
	#set ($portal_url = $themeDisplay.getPortalURL())
	#set ($user_my_sites = $user.getMySiteGroups())
	#set ($user_sname = $user.getScreenName())
	#set ($user_account_url = $themeDisplay.getURLMyAccount())
	
	#set ($sign_out_url = $htmlUtil.escape($theme_display.getURLSignOut()))
	
	#set ($notificationPortletId = "2_WAR_notificationsportlet")

	#set ($has_layout_add_permission = 0)
	
	#if ($layout.getParentLayoutId() == 0)
		#set ($has_layout_add_permission = $groupPermission.contains($permissionChecker, $page_group.getGroupId(), "ADD_LAYOUT"))
	#else
		#set ($has_layout_add_permission = $layoutPermission.contains($permissionChecker, $layout, "ADD_LAYOUT"))
	#end
	
	#set ($has_layout_customize_permission = $layoutPermission.contains($permissionChecker, $layout, "CUSTOMIZE"))
	#set ($has_layout_update_permission = $layoutPermission.contains($permissionChecker, $layout, "UPDATE"))
	
	#set ($show_add_controls = $has_layout_add_permission || $has_layout_update_permission || ($layoutTypePortlet.isCustomizable() && $layoutTypePortlet.isCustomizedView() && $has_layout_customize_permission))
	
	#set ($show_edit_controls = ($theme_display.isShowLayoutTemplatesIcon() || $theme_display.isShowPageSettingsIcon()))
	#set ($show_preview_controls = $has_layout_update_permission || $groupPermission.contains($permissionChecker, $page_group.getGroupId(), "PREVIEW_IN_DEVICE"))
	#set ($show_toggle_controls = ((!$page_group.hasStagingGroup()) || $page_group.isStagingGroup()) && ($has_layout_update_permission || ($layoutTypePortlet.isCustomizable() && $layoutTypePortlet.isCustomizedView()) || $portletPermission.hasConfigurationPermission($permissionChecker, $theme_display.getSiteGroupId(), $layout, "CONFIGURATION")))

	#set ($liferay_toggle_controls = $sessionClicks.get($request, "liferay_toggle_controls", ""))
	#set ($themeNamespace = "_" + $themeDisplay.getThemeId() + "_")

	#if (!$show_toggle_controls)
		$sessionClicks.put($request, "liferay_toggle_controls", "hidden")

		#set ($liferay_toggle_controls = "hidden")
		#set ($css_class = $css_class.replaceAll("controls-visible", "controls-hidden"))
	#else
		#set ($css_class = $css_class.replaceAll("controls-hidden", "controls-visible"))
	#end
	
	#set ($is_user_dashboard = ($page_group.getGroupId() == $current_user.getGroupId()))
	
	## -- get private sites -- ##
	
	#set ($group = $user.getGroup())
	
	#set ($layoutLocalService  = $serviceLocator.findService("com.liferay.portal.service.LayoutLocalService"))
	#set ($myPrivateLayouts = $layoutLocalService.getLayouts($group.getGroupId(), true))
	#set ($myPublicLayouts = $layoutLocalService.getLayouts($group.getGroupId(), false))
	
	## -- initialize sites portlet for the sidebar -- ##
	#set ($sitesPortletId = "5_WAR_soportlet")
	#set ($portletPreferencesFactory = $serviceLocator.findService("com.liferay.portlet.PortletPreferencesFactoryUtil"))
	#set ($portletSetup = $portletPreferencesFactory.getLayoutPortletSetup($layout, $sitesPortletId))
	
	## -- initialize scope navigation portlet to switch to the public or private area of a workspace -- ##
	#set ($scopenavigationPortletId = "scopenavigation_WAR_scopenavigationportlet")
	#set ($scopenavigationportletSetup = $portletPreferencesFactory.getLayoutPortletSetup($layout, $scopenavigationPortletId))
	
	#set ($isUserPage = $layout.getGroup().isUser())

#else
	#set ($user_my_sites = $user.getMySiteGroups())
	#set ($user_sname = "")
	#set ($user_account_url = "")
#end

#if ($is_user_dashboard)
	#set ($css_class = "${css_class} user-dashboard")
#end