@import "compass";

$mediaHandheldWidthMax: 767px;
$mediaHandheldWidthMin: 768px;
$mediaBigDisplayWidthMax: 1200px;

$upLightBlue: #D0DAE3;
$upDarkBlue: #014260;
$upWhite: #ffffff;
$upBlack: #000000;
$upGray: #EEEEEE;

$upTextColor: $upBlack;
$upBgColor: #fff;
$upHeadBgColor: #ff00ff;
$upMenuColor: $upLightBlue;
$upBorderColor: #000000;
