$FontAwesomePath: "aui/alloy-font-awesome/font" !default;

@import "aui/alloy-font-awesome/scss/variables";
@import "aui/alloy-font-awesome/scss/mixins-alloy";
@import "aui/alloy-font-awesome/scss/path-alloy";

.aui {
	@import "aui_variables";

	$iconSpritePath: '../images/aui/glyphicons-halflings.png' !default;
	$iconWhiteSpritePath: '../images/aui/glyphicons-halflings-white.png' !default;

	@import "aui/bootstrap";
	@import "aui_custom";
	@import "aui/responsive";
	@import "liferay_custom";

	@import "aui/alloy-font-awesome/scss/core";
	@import "aui/alloy-font-awesome/scss/bootstrap";
	@import "aui/alloy-font-awesome/scss/extras";
	@import "aui/alloy-font-awesome/scss/icons-alloy";
	@import "aui/alloy-font-awesome/scss/icons-alloy-extra";

	background-color: $bodyBackground;
	color: $textColor;
	font-family: $baseFontFamily;
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
	margin: 0;
}

.aui body {
	background:#fff !important;
}

.aui .wrapper-portlet-area a {
	color:#014260;;
}

.aui .wrapper-portlet-area h1, .aui .wrapper-portlet-area h2, .aui .wrapper-portlet-area h3, .aui .wrapper-portlet-area h4, .aui .wrapper-portlet-area h5, .aui .wrapper-portlet-area h6 {
	font-family:georgia, serif;
}

.aui .wrapper-portlet-area h2 {
	font-size:1.5em;
}

.aui .wrapper-portlet-area .navbar {
	margin-bottom:0;
}

.aui .wrapper-portlet-area .navbar-inner {
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.065);
  	-moz-box-shadow: 0 0px 0px rgba(0,0,0,0.065);
 	 box-shadow: 0 0px 0px rgba(0,0,0,0.065);
 	 background-color:#fff;
	
}

.aui .wrapper-portlet-area .alert-success, .aui .wrapper-portlet-area .portlet-msg-success, .aui .wrapper-portlet-area .portlet-msg-success {
	
	  background-color: #ff9;
 	 border-color: #fff;
  color: #000;
	
}

.aui .wrapper-portlet-area input[type="text"], .aui .wrapper-portlet-area input[type="password"], .aui .wrapper-portlet-area input[type="file"], .aui .wrapper-portlet-area input[type="submit"], .aui .wrapper-portlet-area input[type="button"], .aui .wrapper-portlet-area input[type="reset"], .aui .wrapper-portlet-area select, .aui .wrapper-portlet-area textarea, .aui .wrapper-portlet-area .textarea, .aui .wrapper-portlet-area button {
		border-radius:0;
		-webkit-border-radius:0;
		-ms-border-radius:0;
		-o-border-radius:0;
		-moz-border-radius:0;
	
}


.aui .wrapper-portlet-area .form-search .input-append .search-query {
	webkit-border-radius: 0;
  -moz-border-radius: 0;
   -o-border-radius: 0;
    -ms-border-radius: 0;
  border-radius: 0;
  box-shadow: inset 0 0px 0px;
  -moz-box-shadow: inset 0 0px 0px;
  -o-box-shadow: inset 0 0px 0px;
  -webkit-box-shadow: inset 0 0px 0px;
   -ms-box-shadow: inset 0 0px 0px;
}

.aui .wrapper-portlet-area .navbar .nav>.active>a, .aui .wrapper-portlet-area .navbar .nav>.active>a:hover, .aui .wrapper-portlet-area .navbar .nav>.active>a:focus {
	color:#014260;
}


/* mal gucken ob das bleiben kann */
.aui .wrapper-portlet-area label {
  display: block;
  margin-bottom: 5px;
  font-family: georgia, serif;
  font-weight: bold;
  color: #666;
}

.wrapper-portlet-area .btn-group button.btn {
	margin-right:3px;
}

.aui .wrapper-portlet-area .accordion-heading .accordion-toggle {
	background:#d0dae3;
	border:none;
	
}

.aui .wrapper-portlet-area .badge-info {
	background-color:#014260;
}

.aui body .wrapper-portlet-area .row-fluid .span4 {
	margin-left: 2%;
 	 width: 32%;
}

.aui .wrapper-portlet-area .navbar .nav>li {
	  float: left;
	  font-weight:bold;
	  background-color:#fff;
	  border-bottom: 1px solid #014260;
}
.aui .wrapper-portlet-area .navbar {
	margin-bottom:0;
}

.aui .wrapper-portlet-area .navbar .nav>li.active {
	border-bottom:0px;
} 

.aui .wrapper-portlet-area .navbar .nav>.active>a, 
.aui .wrapper-portlet-area .navbar .nav>.active>a:hover, 
.aui .wrapper-portlet-area .navbar .nav>.active>a:focus {
	border-top: 1px solid #014260;
  border-right: 1px solid #014260;
  border-left: 1px solid #014260;
  border-bottom: 1px solid #fff;
    color: #014260;
}

/* aui table */

.aui .table-bordered th, .aui .table-bordered td {
	border-left: none;
}

.aui .table th, .aui .table td {
	border-top: none;
}
.aui .table-bordered {
	border:none;
}