.portlet-blogs .edit-actions .lfr-table td {
  display: inline-block;
  background-color: #d0dae3;

  margin-right: 5px;
  padding: 5px;
}

.portlet-blogs .edit-actions a {
  color: #014260;
  display: inline-block;
  /* font-weight: bold; */
  margin: 5px 5px 5px 0;
  text-transform: uppercase;
  font-size: .8em;
  /* line-height: 1; */
}

.portlet-blogs .edit-actions a:hover {
  text-decoration: none !important;
  color:#fff;

}

.portlet-blogs .edit-actions .lfr-table td:hover {
	 background-color: #014260;
}

.portlet-boundary_33_.portlet-blogs .entry-body .lfr-editable {
 
  margin-top: 15px;
  
  
}

.portlet-blogs .entry-author {
	
	  font-family: georgia;
  font-style: italic;
  color: #014260;
}

.portlet-blogs .entry-body .lfr-editable:hover:after {
	background-color:#fff091;
}

.portlet-blogs .comments a:hover, .portlet-blogs .taglib-flags  a:hover {
	color:#014260;
	text-decoration:underline;
}

.portlet-blogs .comments a:visited, .portlet-blogs .taglib-flags  a:visited{
	color:#014260;
	text-decoration:underline;
}

.portlet-blogs .entry-navigation {
	background-color:#fff;
	border-top:0px;
	color:#014260;
	
}


.portlet-blogs #blogsCommentsPanelContainer {
  border-width: 0;
  margin: 0 0px;
  background-color: #ededed;
}

.portlet-blogs #blogsCommentsPanelContainer .aui .accordion-group {
	border: 0px solid #e5e5e5;
}

.portlet-blogs #blogsCommentsPanelContainer .aui .accordion-heading {
  border-bottom: 0;
  font-weight: bold;
  font-family: georgia;
}

.portlet-blogs #blogsCommentsPanelContainer .aui .accordion-inner {
  padding: 9px 10px;
  border-top: 0px solid #e5e5e5;
}

.portlet-blogs #blogsCommentsPanelContainer .accordion-inner .aui input {
	  width: 98%;
}

.portlet-blogs #blogsCommentsPanelContainer .accordion-inner .aui input + br {
	display:none;
}

.portlet-blogs #blogsCommentsPanelContainer .fieldset.add-comment a {
	background-color: #014260;
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: .9em;
  line-height: .9em;
	
}

.portlet-blogs #blogsCommentsPanelContainer .aui .row-fluid {
	margin-top:25px;
	
}

.portlet-blogs #blogsCommentsPanelContainer .lfr-discussion-details {
	padding-left:0;
}