/*comments, ratings, assets */
.fieldset.add-comment a {
	background-color: #d0dae3;
	padding: 5px;
	color: #014260;
	font-size: 12px;
	font-weight: bold;
	height: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-right: 1px;
}

.fieldset.add-comment a:hover {
	text-decoration: none;
	background-color: #ededed;
}

.taglib-discussion .lfr-discussion {
	margin-top: 25px;
}

/*user picture */
.taglib-discussion .row-fluid .span3 {
	width: 13%;
}

.taglib-discussion .row-fluid .span9 {
	width: 83%;
}

.taglib-user-display {
	padding: 0;
	margin-bottom: 15px;
}

.lfr-discussion-form-reply .taglib-user-display {
	float: left;
}

.taglib-discussion .lfr-discussion-form-container .lfr-discussion-form.lfr-discussion-form-edit textarea
{
	width: 87%;
}

.taglib-discussion .lfr-discussion-form-container .lfr-discussion-form.lfr-discussion-form-reply textarea {
    width: 100%;
    margin-bottom: 0;
}

.taglib-discussion .lfr-discussion-posted-on {
	padding-right: 2em;
}

.lfr-discussion-details {
	padding-left: 0;
}

.taglib-discussion .lfr-discussion-details .taglib-user-display .user-profile-image
	{
	text-align: left;
	position: relative;
}

.taglib-discussion .lfr-discussion-details .taglib-user-display .user-profile-image img
	{
	width: 70px;
	/* text-align: left; */
	border: 2px solid #d0dae3;
}

.taglib-discussion .lfr-discussion-form-container .lfr-discussion-form .taglib-user-display .user-profile-image .avatar
	{
	float: left;
}

.taglib-user-display.display-style-2 .user-name {
	text-align: center;
	font-family: georgia, serif;
	font-style: italic;
	color: #014260;
	font-size: .9em;
	max-width: 60px;
	text-decoration: none;
	line-height: 1.2em;
	font-weight: normal;
	display: inline-block;
}

.comments a:hover, .taglib-flags  a:hover {
	color: #014260;
}

.comments a:visited, .taglib-flags  a:visited {
	color: #014260;
}

/*ende user picture */
.taglib-discussion .lfr-discussion-message {
	background-color: #ededed;
	padding: 5px;
	border-radius: 3px;
	min-height: 60px;
}

.taglib-discussion .lfr-discussion-message:after {
	content: '';
	border-style: solid;
	border-width: 12px 17px 12px 0;
	border-color: transparent #ededed;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -20px;
	top: 41%;
	margin-left: -17px;
}

.taglib-ratings.thumbs, .taglib-discussion .lfr-discussion-actions {
	float: none;
}

.taglib-discussion .lfr-discussion-form-container .lfr-discussion-form.lfr-discussion-form-edit,
	.taglib-discussion .lfr-discussion-form-container .lfr-discussion-form.lfr-discussion-form-reply
	{
	margin-left: 15.5%;
	width: 100%;
	margin-top: 10px;
}

.lfr-discussion-form-container .lfr-discussion-form.lfr-discussion-form-reply {
    margin-left: 6% !important;
    width: 84% !important;
    margin-top: 10px;
    background-color: #ededed;
    border-radius: 0;
}

a.taglib-icon:focus .taglib-text, a.taglib-icon:hover .taglib-text {
	text-decoration: none;
}

.taglib-discussion .lfr-discussion-actions li a:hover span,
	.taglib-discussion .lfr-discussion-actions li a:focus span {
	text-decoration: none;
}

.lfr-discussion-controls ul.lfr-discussion-actions li a:hover {
	background-color: #ededed;
}

.lfr-discussion-controls ul.lfr-discussion-actions li a {
	background-color: #d0dae3;
	padding: 5px;
	color: #014260;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	height: 10px;
	padding-bottom: 10px;
	padding-top: 8px;
	margin-right: 1px;
	line-height: 10px;
}

.lfr-discussion-controls ul.lfr-discussion-actions li a span {
	font-size: .0em;
	display: inline-block;
	transition: font-size .2s ease-in-out;
	-webkit-transitions: font-size .2s ease-in-out;
	-moz-transitions: font-size .2s ease-in-out;
	-o-transitions: font-size .2s ease-in-out;
	-ms-transitions: font-size .2s ease-in-out;
}

.lfr-discussion-controls ul.lfr-discussion-actions li a:hover span {
	font-size: 12px;
}

.add-comment .control-group {
	margin-top: 30px;
}

.add-comment textarea {
	width: 99%;
}

.aui body .portlet .taglib-discussion .lfr-discussion .row-fluid.lfr-discussion-form-container
	{
	width: auto;
	margin-left: 0 !important;
	margin-top: 10px;
}

.taglib-asset-tags-summary .tag {
	color: #014260;
}

/* aus wiki */
.taglib-user-display {
	width: 65px;
	float: left;
}

.taglib-discussion .lfr-discussion-message {
	margin-left: 85px;
}

.taglib-user-display.display-style-2 .user-name {
	font-size: .8em;
}

.lfr-discussion-controls ul.lfr-discussion-actions li a span {
	font-size: 12px;
	font-weight: normal;
}

.taglib-discussion .lfr-discussion-actions {
	margin-left: 85px;
}

.textboxlistentry-content .icon {
	width: 18px !important;
}

.lfr-discussion-controls .thumbrating-content {
	margin-left: 10px;
}

#p_p_id_33_ .taglib-asset-links h2 {
	background: none;
	color: #999;
	font-size: 1em;
	font-size: 1em !important;
	padding-left: 0;
}

.taglib-asset-links .asset-links-list {
	margin-left: 0;
}

.taglib-asset-links .asset-links-list-item {
	padding-left: 4px;
}

.taglib-social-bookmarks {
	padding-left: 0;
	border-left: 1px solid #ededed;
	background-color:transparent;
}

.taglib-ratings.stars {
	margin-top: 0.5em;
	overflow: auto;
	border-left: 1px solid #ededed;
	padding-left: 15px;
}