

/* Layout loginpage */


.guest-site.signed-out #banner #uppertoolbar #position-wrapper #p_p_id_145_ #_145_dockbar  ul.nav-account-controls li{
	width:100px;
}	

.guest-site.signed-out #banner #uppertoolbar #position-wrapper #p_p_id_145_ #_145_dockbar .navbar-inner ul.nav-account-controls li a{
	    padding: 9px 3px 9px 3px;
}	

.guest-site.signed-out #banner #uppertoolbar #position-wrapper #p_p_id_145_ #_145_dockbar .navbar-inner ul.nav-account-controls li a i.icon-user {
	color:#fff;
}
