#p_p_id_107_ .lfr-discussion .taglib-user-display
{
	
	    width: 10%;
    float: left;
    overflow: hidden;
}

#p_p_id_107_ .lfr-discussion .taglib-user-display a span.user-profile-image {
	clear:none;
	text-align:left;
	position:relative;
}

#p_p_id_107_ .lfr-discussion .taglib-user-display a span.user-name {
	overflow:hidden;
}

#p_p_id_107_ .lfr-discussion .taglib-user-display a div.user-details {
	display:none;
}

#p_p_id_107_ .lfr-discussion .lfr-discussion-message {
	float:right;
	width:85%;
}

#p_p_id_107_ .lfr-discussion div.lfr-discussion-posted-on {
	position: absolute;
    right: 0;
}

#p_p_id_107_ .lfr-discussion-controls {
	    height: 50px;
    margin-left: 13%;
   
    position: relative;
  
    margin-top: 10px;
}

#p_p_id_107_ .lfr-discussion-controls .taglib-ratings {
	float:left;
}

#p_p_id_107_ .lfr-discussion-controls div.lfr-discussion-actions {
	padding-top:5px;
	float:right;
}