 @import "compass"; 
/*custom*/
.container-fluid#wrapper div#content  {
	width: 78%;
  
  margin-left: 22%;
  padding-left: 0px;
}

.portlet-column {
	width: 78%;
  
  margin-left: 22%;
}


/* ---------- Portlet wrapper and icons ---------- */
body .portlet {
	border: 2px solid #fff;
}

body .portlet:hover {
	border:2px solid #d0dae3;
}

.aui .modal .portlet:hover {
	border:2px solid #fff;
}


.portlet-topper .portlet-topper-toolbar a i {
	display:none;
}

portlet:hover .portlet-topper .portlet-topper-toolbar a i {
	display:inline;
}


.portlet-boundary {
	
	margin-bottom: 10px;
	padding-bottom: 10px;
	
}

.portlet .portlet-title {
	font-size: 2em;
}

.portlet .portlet-content, .portlet .portlet-topper {
	padding-top: .5em;
}

.portlet-title {
	border-bottom: 1px solid #ededed;
  margin-top: 0!important;
  padding-left: 5px;
  padding-bottom: 5px;
}

.portlet-title img {
	display: none;
}

.portlet-title-text {
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: .8em;
	color: #014260;
}

/* portlet edit mode */

.portlet-borderless-bar {
	background-color: #FFF;
  padding: 3px;
  margin-bottom: 3px;
    text-align:left;
  padding-right: 50px;
 	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	color: #014260;
	border-bottom: 1px solid #ededed;
}

.portlet-topper {
  position: relative;
}

.controls-visible .portlet .portlet-topper .portlet-topper-toolbar {
  display: block;
}
.portlet-topper .portlet-topper-toolbar {
  margin: 0;
  padding: 2px;
  position: absolute;
  right: 20px;
  text-align: right;
  top: 16px;
  z-index: 300;
}

.portlet-draggable .portlet-topper {
  cursor: move;
}

.portlet-title-text {
  display: inline-block;
  max-width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
.portlet-title-editable {
  cursor: pointer;
}

.portlet-topper .portlet-topper-toolbar a i {
  font-size: 19px;
}

/* borderless portlet */

.portlet-borderless {
	border:2px solid #fff;
}


.portlet-borderless:hover {
	border:2px solid #d0dae3;
}

.aui .modal .portlet-borderless:hover {
	border:2px solid #fff;
}
.portlet-borderless-bar span.portlet-actions {
	position: absolute;

  margin-right: 10px;
  right:0;
}

.portlet-borderless-bar span.portlet-actions span div a li.caret {
	margin-top:4px;
}

.portlet-borderless-bar span.portlet-actions span span.portlet-action-separator {
	visibility:hidden;
}