.aui .smallcol .navbar .btn-navbar {
	display:block;
}

.smallcol .navbar .container .nav-collapse.open {
    display: block;
    height: auto;
    overflow: visible;
}

.smallcol .navbar .container .nav-collapse {
    display: none;
}

.smallcol .navbar .container .btn-navbar {
    color: #000;
    display: inline-block;
    margin-bottom: 5px;
    width: auto;
}

.aui .smallcol .btn {
    padding: 11px 19px;
    font-size: 17.5px;
}

.smallcol .navbar .container .btn-navbar > .icon-bar:first-child {
    margin-top: 6px;
}

.smallcol .navbar .container .btn-navbar > .icon-bar:last-child {
    margin-bottom: 5px;
}

.aui .smallcol .nav-collapse, .aui .nav-collapse.collapse {
    overflow: hidden;
    height: 0;
}

.aui .smallcol .nav-collapse {
    clear: both;
}

.aui .smallcol .btn [class^="icon-"], .aui .btn [class*=" icon-"] {
    margin-top: 4px;
}

.aui .smallcol .nav-collapse .nav {
    float: none;
    margin: 0 0 10px;
}


.aui .smallcol #p_p_id_36_ .navbar .nav:after {
    display: none;
 
}

.smallcol .navbar .container .navbar-search {
    margin: 0;
    padding: 5px;
}


.aui .smallcol .nav-collapse .navbar-form, .aui .smallcol .nav-collapse .navbar-search {
    float: none;
    padding: 10px 15px;
    margin: 10px 0;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}


.smallcol .navbar .container .navbar-search .form-search {
    margin: 0;
}

.aui .smallcol input, .aui .smallcol input.input-large, .aui .smallcol textarea, .aui .smallcol .uneditable-input {
    max-width: 100%;
    width: auto;
}

.aui .smallcol input, .aui .smallcol textarea, .aui .smallcol .uneditable-input {
    margin-left: 0;
}

.smallcol .navbar .container .navbar-search .form-search .input-append {
    display: block;
    padding-right: 0;
}

.aui .smallcol .row-fluid [class*="span"]:first-child {
    margin-left: 0;
}