@import "up";

body{
	background: $upBgColor;
	font-family: "Source Sans Pro","Helvetica",Helvetica,Arial,sans-serif;
	
	#up_section_indicator{
		width: 33.3333%;
		background-color: $upDarkBlue;
		height: 20px;
	}
	
	#up_logo {
		width: 100%;
		height: 60px;
		top: 0px;
		margin-left: 60px;
		
		#up_logo_indicator
		{
			height: 20px;
		}
		
		#up_logo_image{
			padding: 0px 15px;
			float: left;
					
			img{
				width: 80px;
				height: 80px;
			}
		}
		
		#up_logo_title{
			float: left;
			padding-top: 20px;
			font-size: 14pt;
			
			a{
				color: $upDarkBlue;
			}
		}
		
		#up_logo_footer{
			height: 40px;
		}
	}
	#line
	{
		width: 100%;
		height: 20px;
		background: $upGray;
		.blue
		{
			width: 50%;
			background: $upDarkBlue;
			height: 20px;
		}
		
		.lineimg
		{
			display: none;
		}
	}		

	header#mobile-menu {
		display: none;
	}
		
	header#banner{
	
		background: $upGray;
		padding: 0;
		margin: 0;
		overflow: visible;
		
	
		ul#up-general {
			display: block;
			overflow: hidden;
			list-style-type: none;
			float:right;
			color: $upDarkBlue;
			position: absolute;
			top: 0px;
			right: 60px;
			
			li
			{
				float: left;
				margin-left: 2px;
				background: $upLightBlue;
				height: 40px;
				minwidth: 100px;
				color: $upDarkBlue;
				font-size: 0.86667em;
				
				
				.lang-img
				{
					@include up-grafic;
					background-position: -7px -46px;
					width: 40px;
					height:40px;
				}
				
				.search-img
				{
					@include up-grafic;
					background-position: -7px 0px;
					width: 40px;
					height:40px;
				}
			}

			li.unipage
			{
				font-weight: bold;
			}
			
			li.lang
			{
				background: $upWhite;
				width: 60px;
				
				select
				{
					background: $upWhite;
				}
			}
		}
		
		#logo {
			display: block;
			width: 160px;
			height: 172px;
			background-image: url(../images/up/up_logo_university_2.png);
			margin-left:100px;
		}
		
		#up_services
		{
			overflow:hidden;
			display: block;
			list-style: none;
			background: $upLightBlue;
			position: absolute;
			right: 60px;
			top: 60px;
			
			li{
				float: left;
			}
					
			#editbox
			{
				width: 200px;
				float: left;
			}
		}	
		
		.portlet-dockbar{
			padding-top: 20px;
		}
		
		#heading{
			padding-left: 50px;
		}
	}
	
	#content{
		padding-left: 50px;
		background: $upWhite;
	}
	
	#sidebar {
		width: 0px;
		left: 0px;
		top: 0px;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		margin-right: 0px;
		z-index: 1401;

		
		div
		{
			overflow: hidden;
		}
		
		.title {
			background: $upMenuColor;
			
			-moz-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			-o-transform: rotate(-90deg);
			-webkit-transform: rotate(-90deg);
			transform:rotate(-90deg);
			
			width:140px;
			height:20px;
			padding:10px;
			right:-100px;
			top:190px;
			position: absolute;
			z-index:1401;
			cursor: pointer;
			font-weight: bold;
			font-variant: small-caps;
			
			.arrow
			{
				@include up-grafic;
				background-position: -18px -505px;
				display: inline-block;
				
				-moz-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				transform:rotate(90deg);				
			}
			
			.arrow.down {
				-moz-transform: rotate(-90deg);
				-ms-transform: rotate(-90deg);
				-o-transform: rotate(-90deg);
				-webkit-transform: rotate(-90deg);
				transform:rotate(-90deg);
			}			
		}
		
		.content {
			position: absolute;
			width: 100%;
			background: $upMenuColor;
			height: 100%;
			
			h2
			{
				font-variant: small-caps;
			}
									
			.add, .search
			{
				width: 145px;
				background: $upBlueGray;
				color: $upWhite;
				display: inline-block;
				vertical-align: middle;
				
				.icon
				{
					@include ple-grafic;
					width: 20px;
					height: 20px;
					background-position: -30px -313px;
					display: inline-block;
					margin-top: -8px;
				}
			}
			
			.search .icon
			{
					background-position: 0px -313px;
			}
			
			.filter
			{
				border: 1px solid $upBlueGray;
				padding: 2px;
				height: 20px;
				overflow: hidden;
				margin: 10px 8px 0 0;
				
				.icon
				{
					@include ple-grafic;
					background-position: 0px -97px;
					float: left;
				}
				
				input
				{
					border:0px;
					background: $upMenuColor;
					width: 260px;
				}
			}
			
			
			
			#sidebar-my-sites{
			
				list-style: none;
				margin: 0px;
				padding: 0px;
				overflow: scoll-x;
				
				li {
					border-bottom: 1px solid $upBlueGray;
					padding: 10px;
					margin-bottom: 10px;
					
					a {
						color: $upDarkGray;
					}
				}		
			}
			
		}
		
		h2
		{
			font-size: 14pt;
			color: $upDarkBlue;
			overflow: hidden;
			
			.search
			{
				background-position: -8px -1878px;
			}

			.add
			{
				background-position: -8px -1878px;
			}

			.close
			{
				background-position: -11px -312px;
			}

		}
	}
		
	#sidebar.show-sidebar {
		width: 300px;
		
		.content
		{
			padding: 5px;
		}
	}
	
	.arrow {
		@include up-grafic;
		background-position: -15px -126px;
		display: inline-block;
	}
	
	.arrow.down {
		background-position: -99px -126px;
	}
	
	.icon {
		@include up-grafic;
		width: 20px;
		height: 20px;
		display: inline-block;
	}
	
	#admin
	{
		list-style: none;
		position: absolute;
		right: 60px;
		top: 30px;
		background: $upLightBlue;
		color: $upDarkBlue;
		
		li
		{
			float: left;
			width: 300px;
			padding: 5px;
			
			#toggleDockbar
			{
				height: auto;
				width: auto;
				overflow: hidden;
				margin: 0;
			}

			.workspace
			{
				@include up-grafic;
				background-position: 0px -200px;
			}
			
			.admin
			{
				@include up-grafic;
				background-position: 0px -200px;
			}
		} 
	}
	
	
	#main-menu
	{
		margin: 60px;
		list-style: none;
		display: block;
		overflow: hidden;
		padding: 0px;
		
		li
		{
			width: 24%;
			float: left;
			background: $upWhite;
			color: $upDarkBlue;
			padding: 10px 10px 10px 0px;
			display: block;
			Overflow: hidden;
			text-align: center;
			
			ul
			{
				height: 165px;
				list-style: none;
				overflow: hidden;
				padding: 0px;
				
				li
				{
					float: none;
					border-bottom: 1px solid $upDarkBlue;
					width: 100%;
					padding: 3px;
					text-align: left;
				}
			}
		}
		
		li:hover
		{
			background: $upDarkBlue;
			color: $upWhite;
			
			.icon.arrow
			{
				background-position: -136px -126px;
			}
			
			ul
			{
				background: $upDarkBlue;
				
				li
				{
					background: $upDarkBlue;
					color: $upWhite;
					border-color: $upWhite;
				}	
			}
		}
		
		span.close
		{
			padding-left: 20px;
			@include up-grafic;
			
		}

	}
	
}