@import "up";

@media (max-width: $mediaHandheldWidthMax) {
	.aui body {
		background: black;
		padding: 0px;
		
		header#banner,
		#breadcrumbs,
		#sidebar 
		{
			display: none;
		}	
		
		#line
		{
			width: 100%;
			height: 10px;
			
			.blue
			{
				width: 50%;
				background: $upDarkBlue;
				height: 5px;
			}
			
			.lineimg
			{
				float: right;
				height: 10px;
				wdith: 10px;
				padding-right: 4px;
			}
		}
		

		header#mobile-menu {
			display: block;
			width: 100%;
			overflow: hidden;
			background: $upGray;
			color: $upDarkBlue;
			

			div#up-menu
			{
				overflow: visible;
				float:right;
				background: $upGray;
				margin: 0px;
				padding: 0px;
				width: 100%;
				height: 40px;
				position: fixed;
				top: 0px;
				left: 0px;
				right: 0px;
				
				.main
				{
					position: relative;
					width: auto;
					padding-right: 100px;
					height: 30px;
					
					a
					{
						width: 25%;
						display: inline-block;
						height: 30px;
					}
				}
				
				.right
				{
					position: absolute;
					right: 0px;
					top: 0px;
					width: 100px;
					height: 30px;
					
					a
					{
						height: 30px;
						width: 45px;
						padding: 2px;	
					}
				}
				
				a.aui-button
				{
					float: left;
					margin: 0.2%;
					padding: 5px 0px;
					overflow: hidden;
					background: $upWhite;
					color: $upDarkBlue;
					display: block;
					overflow:hidden;
					border-radius:0px;
					border: 1px solid $upGray;
					
					span.icon{
						@include ple-grafic;
						display: inline-block;
						width: 20px;
						height: 20px;
					}
					
					span.grouproom
					{
						background-position: 0px -33px;
					}
					span.personal
					{
						background-position: 0px -33px;
					}
					span.profile
					{
						background-position: 0px -33px;
					}					
					span.portfolio
					{
						background-position: 0px -33px;
					}					
					span.edit
					{
						background-position: 0px -33px;
					}					}
				
				a.edit
				{
					width:6%;
					background: $upLightBlue;
				}
				
				a.up-services
				{
					background: $upLightBlue;
				}
				
				
			}			
		}			
	}
}