@import "up";
@import "mixins";

@include respond-to(phone, tablet){
	html.aui body {
		background: black;
		padding: 0px;
		
		div#wrapper
		{
		
			header#banner #admin,
			header#banner #main-menu,
			header#banner #breadcrumbs,
			header#banner #_145_navSiteNavigationNavbarBtn,
			header#banner #_145_navAddControlsNavbarBtn,
			#sidebar 
			{
				display: none;
			}	
			
			.wrapper-portlet-area
			{
				margin-top:10px;
			}
			
			header#banner
			{
				min-height: 60px;
				
				#up_logo
				{
					margin-top: 10px;	
					margin-left:5px;			
				
					#up_logo_image {
						padding: 0 10px 0 0;
						
						a {
							img 
							{
								width:60px;
								height:60px;
				
							}
						}
					}
				}
				
				
				#p_p_id_145_ 
					{
						.navbar.navbar-static-top
						{
							.navbar-inner
							{
								box-shadow: 0 0px 0px rgba(0,0,0,0.1);
								
								.container 
								{
									.btn-navbar#_145_navAddControlsNavbarBtn {
										display:none;
									}
								
									.btn-navbar#_145_navSiteNavigationNavbarBtn {
										display:none;
									}
									
									ul.nav-account-controls#_145_navAccountControls 
									{	
										right: 0em;
										width: 35.5%;
										height: 45px;	
										z-index: 4000;
										
										li
										{
											width: 21%;
											min-width:32px;
											height: 46px;
											padding:0;
											background-color:transparent;
					
											a
											{
												padding:0;
												
   												height: 46px;
												color:$upLightBlue;	
												
											}
					
											a.user-notification-link {
												overflow:visible;
												
												span#_2_WAR_notificationsportlet_userNotificationsCount 
												{
  												  padding-bottom: 0;
   												  border-bottom: none;
    											  border-right: none;
    											  height: 31px;
												}
											}
											
											ul.dropdown-menu 
											{
												li 
												{
													height:auto;
   													line-height:2.3em;
   													width:auto;
												}
											}	
										}/* end li */		
										
										li.dockbar-user-notifications 
										{
   											height: 46px;
   											
   											ul.dropdown-menu
   											{
   												left: -234px;
   												max-width: 291px;	
   												
   												li
   												{
   													width:auto;
   													background-color: #d0dae3;
    												line-height: inherit;
   													 padding: .26667em .66667em;
   												
   													span.nav-item-label 
   													{
   														display:inline;
   													} 
   												
   												}
   												
   												
   											}
										}
										
									
										li.dockbar-user-notifications a.user-notification-link:after
										{
						   					 display: block;
						   					 content: "";
						   					 width: 23px;
						    				height: 20px;
						    				@include ple-grafic;
						    				background-position: -1px -335px;
						   					left: 15px;
						   					 position: absolute;
						    				top: 14px;		
										}
										li.lang 
										{
											background-color:transparent;
											
											span 
											{
												display:none;
												
												
											}
											
											i.icon-caret-down:before
												{
													display:none;
												}
												
											ul.dropdown-menu 
   											{
   											
   												li
   												{
   													width:100%;
   													span.nav-item-label
   													{
   														display:inline;
   													}
												}
   											}	
										}
										
										li.lang a:after
										{
						   					 display: block;
						    					content: "";
						    				width: 14px;
						    				height: 14px;
						   					 @include up-grafic;
						    				background-position: -17px -53px;
						    				left: 10px;
						    				position: absolute;
						    				top: 15px;		
											}
										
										
										
										
										li.user-avatar 
										{
											 overflow: hidden;
											 
											 span.nav-item-label 
											 {
    												display: none;
								    			}
										}
										
										li.user-avatar.open 
										{
											 overflow: visible;
											 
											 span.nav-item-label 
											 {
    												display: none;
								    			}
											
											
											ul.dropdown-menu
											{
												li
												{
													height:25px;
													width:100%;
													
													span.nav-item-label 
											 		{
    													display: inline;
								    				}
												}
											}
										}
										
										
																		
									} /* end ul */
								} /* end container */
								
													
							}
						} 
					}
				
										
			}
			
			#line
			{
				width: 100%;
				height: 10px;
				
				.blue
				{
					width: 50%;
					background: $upDarkBlue;
					height: 5px;
				}
				
				.lineimg
				{
					float: right;
					height: 10px;
					wdith: 10px;
					padding-right: 4px;
				}
			}
			

	
			header#mobile-menu 
			{
				display: block;
				width: 100%;
				overflow: hidden;
				background: $upGray;
				color: $upDarkBlue;
				min-height: 47px;
				overflow: hidden;
				position: fixed;
				z-index: 1040;
				
	
				div#up-menu
				{
					background: $upGray;
					margin: 0px;
					padding: 0px;
					width: 100%;
					height: 46px;
					position: fixed;
					top: 0px;
					left: 0px;
					right: 0px;
					
					.main
					{
						position: relative;
						width: 65.5%;
						
						height: 46px;
						
						a.aui-button
						{
							background: $upLightBlue;
							color: $upDarkBlue;
							width: 23%;
							min-width:32px;
							display: inline-block;
							height: 32px;
							margin: 0 2px 0px 0;
							padding: 5px 0px;
							overflow: hidden;
							border-radius: 0px;
							float: left;
						
							span.icon{
								@include ple-grafic;
								display: block;
								width: 40px;
								height: 32px;
							    margin-left: auto;
							    margin-right: auto;		
								margin-top: -1px;
								float: none;
							}
						
							span.grouproom
							{
								background-position: 1px -280px;
							}
							span.personal
							{
								background-position: 1px -135px;
							}
							span.profile
							{
								background-position: 0px -230px;
							}					
							span.portfolio
							{
								background-position: 0px -183px;
							}					
							span.edit
							{
								background-position: 0px -33px;
							}					
						}
					}
					
					
										
					.right
					{
						position: absolute;
						right: 0px;
						top: 0px;
						width: 100px;
						height: 30px;
						
						a
						{
							height: 30px;
							width: 45px;
							padding: 2px;	
						}
						a.edit
						{
							width:6%;
							background: $upLightBlue;
						}
						
						a.up-services
						{
							background: $upLightBlue;
						}
					}
				}	
				.submenu
				{
					margin-top: 65px;
					
					ul
					{
						list-style:none;
						
						li
						{
							margin: 4px;
							background: $upGray;
						}
					}
				}
			}
			
			.wrapper-portlet-area
			{
				margin-top: 70px;
				width: 100%;
			}	
		}		
	}
}

@include respond-to(phone){
	
	html.aui {
			body {
				#up_logo {	
					#up_logo_image {
									a {
										img 
										{
											width:40px;
											height:40px;
				
										}
									 }
						
	
					}
					#up_logo_title {
					    padding-top: 10px;
						
					}
							}
					}	
				}
}