Dear [$TO_NAME$],<br /><br />

[$FROM_NAME$] sent you a private message:<br />
[$MESSAGE_CONTENT$]<br />
View message <a href="[$THREAD_URL$]">here</a> on Campus.UP<br /><br />

-<br />
If you don't want to receive this notification, click <a href="[$CONFIG_URL$]">here</a>, to change your settings.