Liebe/r [$TO_NAME$],<br /><br />

[$FROM_NAME$] hat Ihnen eine Mitteilung gesendet:<br />
[$MESSAGE_CONTENT$]<br />
Nachricht <a href="[$THREAD_URL$]">hier</a> auf Campus.UP ansehen.<br /><br />

-<br />
Wenn Sie diese Benachrichtigung nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um zu den Einstellungen zu gelangen.  