Liebe/r [$TO_NAME$],<br /><br />

[$FROM_NAME$] hat Ihnen eine Mitteilung gesendet:
<hr>
<p>
[$MESSAGE_CONTENT$]
</p>
<hr>
<br />
Mitteilung <a href="[$THREAD_URL$]">hier</a> auf Campus.UP ansehen.<br /><br />

<hr style="width: 43%;float: left;">
<br/>
<div style="font-size: small">	
Wenn Sie Benachrichtigungen wie diese nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um Ihre Benachrichtigungseinstellungen zu &auml;ndern.    	
</div>	