Dear [$TO_NAME$],<br /><br />

[$BLOGS_ENTRY_USER_NAME$] created a blog post:
<hr>
<p>
[$BLOGS_CONTENT$]
</p>
<hr>
<br />
View entry <a href="[$BLOGS_ENTRY_URL$]">here</a> on Campus.UP.<br /><br />

<hr style="width: 43%;float: left;">
<br/>
<div style="font-size: small">	
If you don't want to receive notifications like this, click <a href="[$CONFIG_URL$]">here</a> to change your settings.	
</div>	