Liebe/r [$TO_NAME$],<br /><br />

[$BLOGS_ENTRY_USER_NAME$] hat einen Blogeintrag ge&auml;ndert:
<hr>
<p>
[$BLOGS_CONTENT$]
</p>
<hr>
<br />
Beitrag <a href="[$BLOGS_ENTRY_URL$]">hier</a> auf Campus.UP ansehen.<br /><br />

<hr style="width: 43%;float: left;">
<br/>
<div style="font-size: small">	
Wenn Sie Benachrichtigungen wie diese nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um Ihre Benachrichtigungseinstellungen zu &auml;ndern.    	
</div>	