Dear [$TO_NAME$],<br /><br />

[$BLOGS_ENTRY_USER_NAME$] created a new blog entry:<br />
[$BLOGS_CONTENT$]<br />
View entry <a href="[$BLOGS_ENTRY_URL$]">here</a> on Campus.UP<br /><br />

-<br />
Don't want to receive this notification, click <a href="[$CONFIG_URL$]">here</a>, to change your settings.