Dear [$TO_NAME$],<br /><br />

[$PAGE_USER_NAME$] created a new Wikipage:<br />
[$PAGE_CONTENT$]<br />
View entry <a href="[$PAGE_URL$]">here</a> on Campus.UP.<br /><br />

-<br />
Don't want to receive this notification, click <a href="[$CONFIG_URL$]">here</a>, to change your settings.  