Liebe/r [$TO_NAME$],<br /><br />

[$PAGE_USER_NAME$] hat eine Wikiseite erstellt:<br />
[$PAGE_CONTENT$]<br />
Seite <a href="[$PAGE_URL$]">hier</a> auf Campus.UP ansehen.<br /><br />

-<br />
Wenn Sie diese Benachrichtigung nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um zu den Einstellungen zu gelangen.  