Dear [$TO_NAME$],<br /><br />

[$PAGE_USER_NAME$] updated a wiki page:<br />
[$PAGE_CONTENT$]<br />
View page <a href="[$PAGE_URL$]">here</a> on Campus.UP.<br /><br />

-<br />
If you don't want to receive this notification, click <a href="[$CONFIG_URL$]">here</a>, to change your settings.