Liebe/r [$TO_NAME$],<br /><br />

[$PAGE_USER_NAME$] hat eine Wiki-Seite erstellt:<br />
[$PAGE_CONTENT$]<br />
Seite <a href="[$PAGE_URL$]">hier</a> auf Campus.UP ansehen.<br /><br />

-<br />
Wenn Sie Benachrichtigungen wie diese nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um Ihre Benachrichtigungseinstellungen zu &auml;ndern.  