Dear [$TO_NAME$],<br /><br />

[$PAGE_USER_NAME$] created a wiki page:
<hr>
<p>
[$PAGE_CONTENT$]
</p>
<hr>
<br />

View page <a href="[$PAGE_URL$]">here</a> on Campus.UP.<br /><br />

<hr style="width: 43%;float: left;">
<br/>
<div style="font-size: small">	
If you don't want to receive notifications like this, click <a href="[$CONFIG_URL$]">here</a> to change your settings.	
</div>