Dear [$TO_NAME$],<br /><br />

[$COMMENTS_USER_NAME$] has updated a comment in the image-text-editor:<br />
[$COMMENTS_BODY$]<br />

View comment <a href="[$CONTENT_URL$]">here</a> on Campus.UP.<br /><br />

-<br/>
If you don't want to receive notifications like this, click <a href="[$CONFIG_URL$]">here</a> to change your settings.