Liebe/r [$TO_NAME$],<br /><br />

[$COMMENTS_USER_NAME$] hat einen Kommentar im Bild-Text-Editor ge&auml;ndert:<br /><br />
[$COMMENTS_BODY$]<br />
Kommentar <a href="[$CONTENT_URL$]">hier</a> auf Campus.UP anzeigen.<br /><br />

-<br/>
Wenn Sie Benachrichtigungen wie diese nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um Ihre Benachrichtigungseinstellungen zu &auml;ndern. 