Dear [$TO_NAME$],<br /><br />

[$COMMENTS_USER_NAME$] updated a blog comment:
<hr>
<p>
[$COMMENTS_BODY$]
</p>
<hr>
<br />

View comment <a href="[$CONTENT_URL$]">here</a> on Campus.UP.<br /><br />

<hr style="width: 43%;float: left;">
<br/>
<div style="font-size: small">	
If you don't want to receive notifications like this, click <a href="[$CONFIG_URL$]">here</a> to change your settings.	
</div>