Liebe/r [$TO_NAME$],<br /><br />

[$COMMENTS_USER_NAME$] hat einen neuen Blog-Kommentar hinzugef&uuml;gt:
<hr>
<p>
[$COMMENTS_BODY$]
</p>
<hr>
<br />

Kommentar <a href="[$CONTENT_URL$]">hier</a> auf Campus.UP anzeigen.<br /><br />

<hr style="width: 43%;float: left;">
<br/>
<div style="font-size: small">	
Wenn Sie Benachrichtigungen wie diese nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um Ihre Benachrichtigungseinstellungen zu &auml;ndern.    	
</div>	 