Liebe/r [$TO_NAME$],<br /><br />

[$COMMENTS_USER_NAME$] hat einen neuen Kommentar hinzugef&uuml;gt:<br /><br />
[$COMMENTS_BODY$]<br />

Kommentar <a href="[$CONTENT_URL$]">hier</a> auf Campus.UP anzeigen.<br /><br />

-<br/>
Wenn Sie diese Benachrichtigung nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um zu den Einstellungen zu gelangen. 