Dear [$TO_NAME$],<br /><br />

[$COMMENTS_USER_NAME$] added a new comment:<br />
[$COMMENTS_BODY$]<br />

View comment <a href="[$CONTENT_URL$]">here</a> on Campus.UP.<br /><br />

-<br/>
If you don't want to receive this notification, click <a href="[$CONFIG_URL$]">here</a>, to change your settings.