Dear [$TO_NAME$],<br /><br />

[$USER_NAME$] created a new Messageboardenty:<br />
[$MESSAGE_CONTENT$]<br />
View entry <a href="[$MESSAGE_URL$]">here</a> on Campus.UP.<br /><br />

-<br />
Don't want to receive this notification, click <a href="[$CONFIG_URL$]">here</a>, to change your settings.  