Dear [$TO_NAME$],<br /><br />

[$USER_NAME$] created a forum post:<br />
[$MESSAGE_CONTENT$]<br />
View entry <a href="[$MESSAGE_URL$]">here</a> on Campus.UP.<br /><br />

-<br />
If you don't want to receive this notification, click <a href="[$CONFIG_URL$]">here</a>, to change your settings.  