Liebe/r [$TO_NAME$],<br /><br />

[$USER_NAME$] hat einen Forenbeitrag erstellt:<br />
[$MESSAGE_CONTENT$]<br />
Beitrag <a href="[$MESSAGE_URL$]">hier</a> auf Campus.UP ansehen.<br /><br />

-<br />
Wenn Sie diese Benachrichtigung nicht mehr erhalten m&ouml;chten, klicken Sie <a href="[$CONFIG_URL$]">hier</a>, um zu den Einstellungen zu gelangen.  